[2018-08-27 10:33] SMPX opened #1367 "Hosting static files in ASP.NET Core hosting project"
Client project (in conponent):
I create a link:

`<a href="http://localhost/1.txt">Download file</a>`

In Server proget in wwwroot folder i put file "1.txt"

When run and click <a> - route error:

"Error: System.InvalidOperationException: 'Router' cannot find any component with a route for '/1.txt'"

How a can host static files ?

Thank you.

[2018-08-27 10:56] Suchiman commented on #1365
@enetstudio it's the way to go, this is standard C# and razor, `@()` defines an expression context and inside what we've got is a normal capturing lambda expression that takes no arguments and calls another method `() => HandleClick(x.Value)` like is often used in LINQ. `onclick` is just something that takes an `Action`, `Action<UIEventArgs>`  or `Func<Task>`.

[2018-08-27 11:04] moataz1991 opened #1368 "DataAnnotations Exception"
Hello

when i want to add DataAnnotation attributes for EF Core purpose "Timestamp"
it throws an exception

[System.IO.FileNotFoundException] Could not load file or assembly 'System.ComponentModel.Annotations, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies

how to fix this please :)

im using MySql Database with Pomelo
Windows 10 64-bit

Thanks

[2018-08-27 11:10] iAmBipinPaul commented on #1368
Isn't this related to EF core and Pomelo (provider) ?

[2018-08-27 11:11] moataz1991 commented on #1368
no
it's blazor who can't load 'System.ComponentModel.Annotations'

[2018-08-27 11:36] cores-system commented on #1367
@SMPX, Only through JSRuntime.
If the pool passes https://github.com/aspnet/Blazor/pull/1354 , then you can use:

<a href="http://localhost/1.txt" target="_self">Download file</a>
OR
<a href="http://localhost/1.txt" target="_blank">Download file</a>

[2018-08-27 11:40] SMPX commented on #1367
Thank you

[2018-08-27 11:40] #1367 closed

[2018-08-27 11:50] cores-system commented on #1367
@SMPX, Temporary solution.

intertop.js
[code]

index.cshtml
[code]

[2018-08-27 11:54] TheFanatr commented on #1185
@pranavkm as @psibernetic said, blocking asynchronous calls in code running on any server-side ASP.NET Core stack will cause a deadlock; however, if you are unable to await the call, you can get it's result by using `Task.Run(async () => await JSRuntime.Current.InvokeAsync<string>("console.log", "Hello world").ConfigureAwait(false)).Result`, but it may or may not launch the call into a new thread.

[2018-08-27 14:41] RemiBou commented on #1368
DataAnnotation should be comptible with Blazor (it's targeting netstandard2). Are you sure the dll loading does not raise a 404 in network panel ?

[2018-08-27 17:04] pranavkm commented on #1185
@TheFanatr the bug was discovered \ filed as part of verifying the 0.5.0 release. Not doing blocking calls are always recommended, but oftentimes developers or [even frameworks](https://github.com/aspnet/Mvc/blob/a67d9363e22be8ef63a1a62539991e1da3a6e30e/src/Microsoft.AspNetCore.Mvc.RazorPages/Internal/DefaultPageLoader.cs#L47) write code that blocks. The current experience around it isn't super gr

[2018-08-27 17:17] moataz1991 commented on #1368
Yes I'm Sure

this is the whole exception

blazor.webassembly.js:1 WASM: [System.IO.FileNotFoundException] Could not load file or assembly 'System.ComponentModel.Annotations, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies.
d.printErr @ blazor.webassembly.js:1
put_char @ mono.js:1
write @ mono.js:1
write @ mono.js:1
___syscall4 @ mono.js:1
<WASM UNNAME

[2018-08-27 17:43] rpedretti commented on #1368
@moataz1991 Try adding this in yout Linker.xml:

[code]

and any other

and, if not yet, put this on your.csproj

[code]

I Had those annotations in a shared netstandard proj and they were being removed from the final dll

[2018-08-27 17:54] moataz1991 commented on #1368
still nope , even tried to replace it with "Timestamp" annotation
i need this for EF Core ConcurencyCheck

anyway , any more suggestions?

[2018-08-27 17:54] PeymanDinani commented on #1077
@JoelW187 Would you be kind enough to share an example? I have been trying to figure it out for the past couple of days but no luck.

[2018-08-27 17:59] rpedretti commented on #1368
In your log the whole DLL was not found. Have you tried to add the nuget `System.ComponentModel.Annotations` to your project to force to be included?

[2018-08-27 20:17] korsaire opened #1369 "Button's onclick triggered upon right mouse click"
When you have onclick event e.g.
[code]
it's triggered upon both left and right button click. I think it's a bug, as you can read in HTML standard:

[2018-08-28 00:10] kant2002 opened #1370 "Could not publish with --no-build"
1. Have setup Two projects. First is API, second is Client Blazor app which is referenced by API.
2. I do build of solution using dotnet build
3. then I run `dotnet publish API --no-build`

Resulting the generated output does not contains .blazor.config
when I run `dotnet publish` without specifying `--no-build` produced package contains valid `blazor.config` file. This make whole published packag

[2018-08-28 04:48] Arshia001 commented on #1369
If this behavior is changed, you'd have no way of knowing when a right click happens on a button.

[2018-08-28 06:11] moataz1991 commented on #1368
Yup , still not working

[2018-08-28 07:45] nguyenminh-phuc commented on #1369
IIRC W3C don't have living HTML standard, but they establish official versions.

[2018-08-28 11:36] jsakamoto commented on #1166
[FYI] This is my workaround until [mono/mono#6368](https://github.com/mono/mono/issues/6368) is fixed.

- https://github.com/jsakamoto/Toolbelt.Blazor.TimeZoneKit

[2018-08-28 13:58] korsaire commented on #1369
@nguyenminh-phuc [https://en.wikipedia.org/wiki/HTML5](https://en.wikipedia.org/wiki/HTML5) check the Standard section.

[2018-08-28 20:02] moataz1991 commented on #1368
i used fluent api as a workaround and it worked :)
but sill the problem is on

[2018-08-28 23:31] enetstudio commented on #1368
@RemiBou: DataAnnotation should be comptible with Blazor (it's targeting netstandard2)

That is not true...

If I'm not wrong, you've created a Blazor Application which employs DataAnnotations, right?
Did you run it?
Sorry, but DataAnnotations is not compatible with Blazor. This is the source of the problem...

[2018-08-29 00:32] moataz1991 commented on #1368
i used fluent api with EF Core and that helped me out from using DataAnnotations

[2018-08-29 01:41] rpedretti commented on #1368
I have this on a netstandard 2.0 shared project and it works
[code]

[2018-08-29 01:42] moataz1991 commented on #1368
can we plz have a snapshot of ur project hierarchic

[2018-08-29 01:56] rpedretti commented on #1368
- Security (netstandard 2.0.3)
- Shared (netstandard 2.0.3)
  - Security
- SignalRServer (Aspnet core 2.1)
  - Shared
  - Security
- Component (Blazor lib netstandard 2.0.3)
- Component.Layout (Blazor lib netstandard 2.0.3)
  - Component
- BingMaps (Blazor lib netstandard 2.0.3)
  - Shared
- Components.Sample (Blazor App)
  - Components
  - Components.Layout
  - Shared

full source at: https://git

[2018-08-29 03:37] nguyenminh-phuc commented on #1369
@korsaire WHATWG maintains the Living Standard, not W3C though.

[2018-08-29 06:57] Boglen commented on #1368
Try add System.ComponentModel.Annotations assembly thru nuget. It add assembly thru SDK by default and you get exception.

[2018-08-29 09:38] SteveSandersonMS commented on #1370
Thanks for letting us know.

[2018-08-29 09:44] SteveSandersonMS commented on #1366
Thanks for reporting this.

It's a known issue covered by #610 (specifically, this comment describes how we plan to fix it: https://github.com/aspnet/Blazor/issues/610#issuecomment-382869851).

For now, your existing workaround of calling `StateHasChanged` manually is correct.

[2018-08-29 09:44] #1366 closed

[2018-08-29 09:45] SteveSandersonMS commented on #1364
OK, glad you resolved this. If you are still having trouble with missing assemblies in `c:\program files\dotnet\shared`, I'd recommend reinstalling your .NET Core SDK entirely.

Closing as not a Blazor issue.

[2018-08-29 09:45] #1364 closed

[2018-08-29 09:50] SteveSandersonMS commented on #1363
Thanks for suggesting this. I've added this requirement to our tracking issue at #293.

In the meantime I'd recommend just duplicating the strings, as there isn't a straightforward way to share them.

[2018-08-29 09:50] #1363 closed

[2018-08-29 09:51] SteveSandersonMS commented on #1362
I think your existing solution with registering an `HttpClient` or a `Func<HttpClient>` in DI is a good one. We'll consider adding further parity with ASP.NET Core server-side APIs in the future.

[2018-08-29 09:51] #1362 closed

[2018-08-29 09:53] SteveSandersonMS commented on #1361
Not sure what you mean. Blazor routes can already contain slashes, and it's not affected by the actual paths of files on disk (so you can put `dashboard` inside an `admin` folder if you want). So, `@page "admin/dashboard"` should work fine.

I'd recommend *not* having a leading slash on your route templates, because if you do, your app will not work if deployed to a non-root URL.

[2018-08-29 09:53] #1361 closed

[2018-08-29 09:55] SteveSandersonMS commented on #1359
@mgamache If you're using the server-side template, there's no need to have a special connection just to send events from the server. All the .NET code is running on the server anyway. Your .NET code can just modify the state of components and call `StateHasChanged` at any time, then the UI will update in the browser. There's no need to open a separate connection for this.

[2018-08-29 09:55] #1359 closed

[2018-08-29 09:56] SteveSandersonMS commented on #1358
Thanks for the suggestions, @DanielS4n!

We have a tracking issue #293 where we're considering designs for scenarios like this, e.g., the ability to mount subapplications on a certain URL prefix.

Since we haven't confirmed any designs around this, it's better not to make any PRs about it right now as we wouldn't merge anything until we do get on to designing that aspect of the system. Hope that's

[2018-08-29 09:56] #1358 closed

[2018-08-29 09:58] SteveSandersonMS commented on #1356
@iFredus The `HttpClient` already does make HTTP requests without refreshing the page. I think your issue is separate. If it's triggered by a `<button>` inside a `<form>` then please update to the latest version of Blazor which automatically calls `preventDefault` on `submit` events.

If you're still encountering issues please post minimal repro code and I'm sure we can spot what is wrong.

[2018-08-29 09:58] #1356 closed

[2018-08-29 09:59] SteveSandersonMS commented on #1355
It's a known issue (#610) that will eventually be fixed.

[2018-08-29 09:59] #1355 closed

[2018-08-29 10:06] SteveSandersonMS commented on #1368
As per @Boglen's response, I've also verified that adding `System.ComponentModel.Annotations` from NuGet works OK (I can put `[Required]` on properties and then use reflection to observe that attribute is present).

If you are still having trouble, please post repro steps. Thanks!

[2018-08-29 10:06] #1368 closed

[2018-08-29 10:12] SteveSandersonMS commented on #1200
Fixed with #1349 (thanks, @chris-ray!)

[2018-08-29 10:13] SteveSandersonMS commented on #1200
Oh, spoke too soon. This issue also covers a related matter about opening the SignalR connection for the server execution model, which is not addressed by #1349.

[2018-08-29 10:33] chris-ray commented on #1200
#1349 should resolve my issue about server side, was there something else?

[2018-08-29 12:26] renatoprogramer commented on #1361
I'm facing this problem of routes with subfolders and with parameter, I'm swamped with service here more tonight I try to send my problem I can not create a simple routes with parameter ex `@page="product-detail/{ID}"`  from a fatal error in mono. JS Today the note I complete the error report, but do you know how I can put a root URL?   In angular 6 We can use N index. `<base href="/">` JS and wor

[2018-08-29 12:33] SteveSandersonMS commented on #1361
The Blazor application template does include `<base href="/">` in `index.html`, which functions in the standard way for HTML documents. I'm not certain what problem you're facing, but if you can supply some repro code (i.e., stating what code produces a problem) we can have a look.

[2018-08-29 12:38] renatoprogramer commented on #1361
My problem is with Rostas same, did not know that the Blazor implements the `<base href="/">  `

[2018-08-29 12:41] renatoprogramer commented on #1361
Could be this feature in the official documentation of Blazor, if the documentation is open source please pass me the git so I can write about this feature

[2018-08-29 12:51] SteveSandersonMS commented on #1200
@chris-ray Oh wait, sorry, yes you were the one reporting that originally! So it sounds like this is resolved.

[2018-08-29 12:51] #1200 closed

[2018-08-29 14:44] uazo commented on #1213
I've found another way: blazor can only change the delegate for eventBindings dictionary, keeping same EventHandlerId.
I do not think there are contraindications: @SteveSandersonMS  what do you think?

here https://github.com/uazo/Blazor/tree/retain-eventhandlerid code and samples

[code]
        internal void AssignEventHandlerId(ref RenderTreeFrame frame, int id)
        {
            if( id <=

[2018-08-29 15:22] ericgrantholland opened #1371 "Need examples showing Blazor Drag and Drop API"
Looking for a working example using the Blazor drag and drop API. Specifically, I'm looking for an example of setting HTML elements as dropzones and draggables WITHOUT explicit JS interop. Looking to hook into the Blazor events designed around UIDragEventArgs.

Please note I'm that I'm also looking to set transfer data using blazor C#, but this issue currently being tracked by #957

[2018-08-29 15:22] AlanJacobsSandnet commented on #279
@urielgoncalves: where will I find the global.json file on my machine?

[2018-08-29 15:35] SteveSandersonMS commented on #1371
Since this is a usage question, would you mind posting to StackOverflow instead? Hope that's OK!

I think there's a good chance that an end-to-end drag and drop mechanism will probably still involve JS interop right now, but it perhaps others will have already implemented this and may know better.

[2018-08-29 15:35] #1371 closed

[2018-08-29 17:41] VoodooSV commented on #279
**AlanJacobsSandnet**
global.json is in the solution directory

[2018-08-29 19:35] rynowak commented on #1185
We need to do something to address this even if it's throwing an exception to report the deadlock. Threads are a limited resource.

[2018-08-29 21:19] TheFanatr commented on #1185
Shouldn't it be possible to easily fix this just by adding `ConfigureAwait(false)` to the awaited async calls in the `InvokeAsync` method itself to avoid deadlocks?

[2018-08-29 21:53] davidfowl commented on #1185
No absolutely not. This deadlock is blazor specific behavior.

A custom awaiter backed by ValueTask may be the best way to achieve this.

[2018-08-30 04:46] kant2002 commented on #1312
I think the issue is somewhere present, or I miss something obvious. For simple cases the UI is really updated as stated in the example posted above. But in some cases I don't see any changes until I manually trigger UI refresh by clicking on the some checkbox (this is trigger UI refresh for me, by changing state)

I essentially do following
1. Made call to API method 1
2. Update UI state with res

[2018-08-30 06:53] danroth27 commented on #1361
@renatoprogramer The Blazor docs are here: https://github.com/aspnet/Blazor.Docs

[2018-08-30 07:46] AlanJacobsSandnet commented on #279
Thanks @VoodooSV but my solution directory contains just a solution file (.sln), a folder for each project in the solution and a hidden .vs folder.
![image](https://user-images.githubusercontent.com/37699218/44837228-f6927080-ac30-11e8-8542-6279ae9c9242.png)

[2018-08-30 08:32] uazo commented on #1213
that code doesn't compile...

![image](https://user-images.githubusercontent.com/29201891/44838011-70c7f280-ac3b-11e8-8289-6c464d6c49b7.png)

Making it static all is working as expected.
It's because `EventHandlerId` is a marker for the javascript code for the current delegate (c# side), regardless of what it is.

Maybe a problem happens for nested events, with multiple `StateHasChanged()`, just b

[2018-08-30 12:45] renatoprogramer commented on #1361
@danroth27  Thank you all that can help with this technology I will help this is the future.

[2018-08-30 13:17] renatoprogramer commented on #1361
@danroth27  I made my commit on this tag in the documentation

[2018-08-30 15:52] uazo commented on #1213
there is no way (for now :) to generate nested events.
I tried with webcomponents but also the current code returns unexpected results

[2018-08-31 08:42] uazo commented on #1213
Trying with https://github.com/aspnet/Blazor/issues/802#issuecomment-387953426, it works very well.

[2018-08-31 12:04] male110 opened #1374 "error tip"
<input type="text" bind="@Count" />
<div>@Count</div>
@functions{
    int Count { get; set; }
}
if input 'aaaa',How can i show some tips

[2018-08-31 14:02] renatoprogramer opened #1375 "Blazor templates missing after installing latest Blazor VSIX from the dev feed"
After the last update no longer appears the Blazor as a project.

![image](https://user-images.githubusercontent.com/15394508/44916846-172ff880-ad0d-11e8-8c57-0117743680f4.png)

[2018-08-31 14:51] Sire opened #1376 "Sending objects with only private setters should give a warning"
When sending objects in Blazor with private setters on their properties, those properties are always empty at the client, and no warnings are given.

This is a limitation of the MessagePack de/serialization, [issue here](https://github.com/neuecc/MessagePack-CSharp/issues/284). Private fields are never serialized.

It would be very helpful to show a warning from JsInterop. It could save hours of h

[2018-08-31 16:16] danroth27 commented on #1375
@renatoprogramer Thank you for reporting this issue!

I'd like to check a few things on your machine to try and figure out what is going wrong:

- Does the `C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise|Professional|Community\Common7\IDE\CommonExtensions\Microsoft\Blazor` folder exist?
- Is the *Templates.pkgdef* file present in that folder? Does the contents of this file match th

[2018-08-31 16:17] danroth27 commented on #1375
It would also be helpful if you could share the output of `dotnet --info`.

After checking these things another thing you could try is uninstalling and reinstalling the Blazor Language Service VSIX.

[2018-08-31 16:33] renatoprogramer commented on #1375
Follow some prints of what I got

![1](https://user-images.githubusercontent.com/15394508/44924639-5ae12d00-ad22-11e8-9aa4-1dbf2758cee4.jpg)
![2](https://user-images.githubusercontent.com/15394508/44924640-5ae12d00-ad22-11e8-89a4-d67e34686c45.jpg)
![3](https://user-images.githubusercontent.com/15394508/44924641-5ae12d00-ad22-11e8-819c-a3a1da1a2a02.jpg)

[2018-08-31 17:13] danroth27 commented on #1375
@renatoprogramer OK, it looks like the issue here is that the ProjectTemplates folder for the Blazor extension is missing. We need to figure out how that happened, but you should be able to repair your setup by manually creating the folder and adding Microsoft.AspNetCore.Blazor.Templates.0.5.1.nupkg to the folder.

[2018-08-31 17:13] danroth27 commented on #1375
Related issue: https://github.com/aspnet/Blazor/issues/1323

[2018-08-31 17:15] danroth27 commented on #1375
@renatoprogramer To help us reproduce this issue, could you please share some historical background on how you got into this state? Which update did you install that resulted in the Blazor templates disappearing? What was the state of your machine before installing the update?

[2018-08-31 17:20] renatoprogramer commented on #1375
This problem happened when Visual Studio alerted me that it had a pending update of the Blazor clicked normally in the update I closed the VS and rebooted I went to create a new project Blazor to see if it had something new and disappeared my template Blazor my off this I didn't do anything unusual.

![4](https://user-images.githubusercontent.com/15394508/44926822-fb3a5000-ad28-11e8-8625-06709c705

[2018-08-31 17:28] renatoprogramer commented on #1375
I installed through this link
https://marketplace.visualstudio.com/items?itemName=aspnet.blazor

[2018-08-31 17:29] danroth27 commented on #1375
Great, thx! And what version of VS do you have?

[2018-08-31 17:30] renatoprogramer commented on #1375
![5](https://user-images.githubusercontent.com/15394508/44927294-74867280-ad2a-11e8-9bdf-3db1d70f1890.jpg)

[2018-08-31 17:31] danroth27 commented on #1375
Actually, hold on, I was just able to reproduce this by updating to the latest VSIX from our CI dev feed. Could you please take a look at your Tools -> Options -> Environment -> Extensions and Updates settings in VS and see what Additional Extension Galleries you have configured there if any?

[2018-08-31 17:33] danroth27 commented on #1375
Yup, you have a CI dev build installed. I can reproduce this. We'll take a look and follow up. Thanks!

[2018-08-31 17:34] renatoprogramer commented on #1375
![6](https://user-images.githubusercontent.com/15394508/44927458-faa2b900-ad2a-11e8-9506-752fb3505c72.jpg)

[2018-08-31 17:36] danroth27 commented on #1375
@renatoprogramer For now, I recommend uninstalling the Blazor VSIX you have and instead install the latest preview release (0.5.1) from the VS marketplace.

[2018-08-31 17:38] danroth27 commented on #1323
@uwefms When you hit this issue had you installed a Blazor VSIX update from our CI def feed?

[2018-08-31 17:39] renatoprogramer commented on #1375
Ok I will try anything eating here again my results, great job.

[2018-08-31 17:56] renatoprogramer commented on #1375
OK! Now it's working

![9](https://user-images.githubusercontent.com/15394508/44928323-f330df00-ad2d-11e8-84a1-39dd5238a1e3.jpg)

![10](https://user-images.githubusercontent.com/15394508/44928328-f62bcf80-ad2d-11e8-9567-bb94664e3b8e.jpg)

![8](https://user-images.githubusercontent.com/15394508/44928337-fe840a80-ad2d-11e8-8b60-eadcefb0bbe9.jpg)

**Thank you**
![7](https://user-images.githubusercont

[2018-08-31 20:15] uwefms commented on #1323
@danroth27
I am not sure - I noticed the missing templates after upgrading to VS 15.8.0 and SDK 2.1.400. I always update via  VSIX. At present I am using the following version:

ASP.NET Core Blazor Language Services   0.6.0-preview1-20180830.1

Creating the missing ProjectTemplates folder and adding Microsoft.AspNetCore.Blazor.Templates.0.5.1.nupkg manually from /.nuget/packages brought back the t

[2018-08-31 20:41] maraf opened #1377 "Parameter of type object and string literal"
Hi there.
I tried to create a parameter of type object and than use type switch for various types (a single message of type string or a list of messages).
So I have created a parameter:

[code]

Then, when I use it with literal value:

[code]

It strips out `"` and generates an invalid code:

[code]

It seems that only string is buggy, boolean and int values work.
Also when I pass a value of some

[2018-08-31 21:17] rynowak commented on #1377
Thanks for the report, I'll take a look at this.

[2018-08-31 22:26] danroth27 commented on #1323
OK, yeah, it looks like you're using a build form the Blazor dev feed, so this is consistent with the issue I am able to reproduce. Thanks for confirming!

[2018-08-31 23:28] Lupusa87 commented on #1355
Sorry I was not able to reply, now also have not time but Sunday evening I will show my samples for this scenario.
My recommended way 2 works differently.
Let me show you later or check this repos:
https://github.com/Lupusa87/BlazorGameSnake
https://github.com/Lupusa87/BlazorChess

[2018-09-01 01:50] kant2002 commented on #261
I may miss something, but why not simply use
[code]

this is against spirit of new project style, but at least allow moving forward.

[2018-09-01 06:05] olugt commented on #1041
What solved this problem for me was to change the "sdk" "version" in global.json to "2.1.401", because the Blazor extension (version 15.7.10384) had set it as "2.1.300". I'm using Visual Studio 2017 15.8.2 and .NET Core 2.1.401.

[2018-09-01 10:54] acrigney commented on #901
I would love to see Blazor really happen, I just wanted to say that I was sad that SL did not merge with WPF to give us a really cross platform solution. It really is way more powerful to develop with the XAML approach than with html, have a look at the richness that is possible with universal apps UWP.  But it seems that no one has the guts to dump html/css for the clunky old tech that it is. I w

[2018-09-01 18:13] MarekPokornyOva opened #1378 "How to pass more ChildContents from razor file?"
Hello,
I'm playing with ChildContent on a component and can't find solution for following:

Let's have reusable base component allowing to include three parts.
**SplitterBase.cshtml**
[code]
<SplitterBase>
	How to define Part1 here?
	How to define Part2 here?
	How to define Part3 here?
</SplitterBase>
[code]

[2018-09-01 18:14] MarekPokornyOva commented on #1378
Sorry, difficult to manage entering issues in IE11 here.
Here's rest of the description:

**Splitter.cshtml**```

<SplitterBase>
	How to define Part1 here?
	How to define Part2 here?
	How to define Part3 here?
</SplitterBase>
[code]

[2018-09-01 18:16] MarekPokornyOva commented on #1378
**Splitter.cshtml**
[code]

[2018-09-02 06:26] footysteve opened #1379 "Issue #834 nav bug"
I'm new to github hope it's ok post about a closed issue. I just encountered this while playing around with blazor

"Blazor App - simple bug, hard to fix - make DOM/window properties and events available in Blazor
#834 by Andrzej-W was closed on May 22"

This is my workaround,

`
**button class="navbar-toggler" onclick=@Dropdown**

@functions {
    bool collapseNavMenu = true;
    bool dropDownAct

[2018-09-02 08:31] MarekPokornyOva commented on #1378
Hi @lohithgn,
thanks for your reply. I fully understand what development and prioritization means :-). I'm just clarifying where the project is and how well it's possible to use it for "production" projects (with full respect to its experimental status).

Anyway: many thanks to all the team members for their work! Good luck!

[2018-09-02 08:31] #1378 closed

[2018-09-02 12:55] JamJar00 opened #1380 "Mono IL Linker Error with MVC Scaffolding"
Having added MVC scaffolding to my Blazor project Mono is unable to resolve the System.Resources.Reader assembly.
[code]

Have confirmed the DLL is present and the linker is finding it (I get a different error if it's not there).

I'm not entirely sure how I got here so it's hard to reproduce. I added MVC scaffolding, resolved the errors the import brought and was able to run the project, but havi

[2018-09-02 13:00] JamJar00 commented on #1380
Having tried to remove all MVC code from the project it's now throwing:
[code]

I'll try starting over in a new project...!

[2018-09-02 13:13] JamJar00 commented on #1380
Originally the error was with Full Dependency scaffolding, just remade with Minimal Dependency scaffolding and the error is immediately present having just created a new project and added the minimal scaffolding.

[2018-09-02 18:07] JamJar00 commented on #1380
That peaked my curiosity actually, forgot to mention it. The path is passed into the `dotnet` command correctly, it's somewhere in there it's getting lost.

In the second error that I got for System.IO.FileSystem.Primitives there's an 'a' missing from 'netstandard1.3' (is 'netstndard1.3' instead).

And having re-added the MVC code I'm getting this:
[code]
Note 'TypeExtensins' missing an 'o'.

As y

[2018-09-02 20:51] highphilosopher opened #1381 "Issue with Javascript Interop in Server Side Blazor Project"
Currently I am trying to access the play() method on an HTML audio tag.

`<audio id="timeOverPlayer" preload="auto"><source src="@settings["Time Over Sound"]" /></audio>`

I've got a Script tag in my index.html file:

`    <script>
        window.playElement = function (element) {
            document.getElementById(element).play();
            return true;
        }
    </script>`

And I'm trying

[2018-09-03 03:33] Lupusa87 commented on #1381
As Steve said once wait not works in browser.
https://github.com/aspnet/Blazor/issues/1120#issuecomment-404663963

[2018-09-03 03:43] RyoukoKonpaku commented on #1381
@highphilosopher the reason why the first case doesn't do anything was because you were returning a ```Task``` from the method but didn't execute it yet.

The reason why the second one runs is because the ```await``` keyword starts the task and waits for it to finish. I haven't tried it yet but if you don't particularly care if the ```async``` method finishes or not is that you could do ```PlayAud

[2018-09-03 03:48] Lupusa87 commented on #1378
What you want try to do is possible but with different approach.
You can make child component and use it inside parent as many as you like and pass parameters to control child content from parent.

You can capture children references and manage them from parent as you like.

If this is not clear please provide exact requirements what result you need and I will code when will have time for it.

Fro

[2018-09-03 03:56] Lupusa87 commented on #1355
Warning that component property or action is public not makes sense and should be removed because we often split markup and logic, so if we not make properties or actions public markup can't see them!

Hope team will remove this warning or tell us how can be solved above mentioned case.
@SteveSandersonMS
So I think you should not worry about this warning.

If no one will reply I will open separate

[2018-09-03 06:45] MarekPokornyOva commented on #1378
For anyone who finds this page and is interested in the topic - you might find [https://github.com/MarekPokornyOva/BlazorContentProperty](https://github.com/MarekPokornyOva/BlazorContentProperty) as usefull solution.

[2018-09-03 08:47] SteveSandersonMS commented on #1355
Use `protected` if your goal is to access the property in a subclass.

[2018-09-03 08:57] SteveSandersonMS commented on #261
Interesting idea. I haven't tried it so can't be sure whether it would work. But if it does, maybe it could even be simplified further to:

[code]

[2018-09-03 08:59] kant2002 commented on #261
I would propose this, but I'm not sure will it work with MSBuild or not. If you don't mind, I could try to implement this, to get myself comfortable with Blazor codebase.

[2018-09-03 09:31] #1352 closed

[2018-09-03 12:56] SteveSandersonMS commented on #1381
Thanks for answering, @RyoukoKonpaku!

[2018-09-03 12:56] #1381 closed

[2018-09-03 13:02] SteveSandersonMS commented on #1380
Thanks for posting.

So that we can investigate, could you re-express this bug report in the form of repro steps? Given a clean new Blazor app project, what minimal steps cause compilation to fail with this error?

Just FYI, I wouldn't expect MVC's built-in scaffolding code to produce a working result in a Blazor client app project, because MVC and Blazor are completely different app frameworks wh

[2018-09-03 13:03] SteveSandersonMS commented on #1379
Thanks for posting! This is now linked from #834 so hopefully anyone reading there will find your code too.

[2018-09-03 13:03] #1379 closed

[2018-09-03 13:11] SteveSandersonMS commented on #1376
Just to clarify, there isn't really any connection between MessagePack de/serialization and JsInterop's JSON handling. There are completely separate serialization mechanisms. When you do JS interop and pass JSON-serializable data, we JSON-serialize the data before it goes to MessagePack. As such, MessagePack only sees a string, not your original .NET object.

As for whether `Microsoft.JSInterop.Js

[2018-09-03 13:11] #1376 closed

[2018-09-03 13:14] SteveSandersonMS commented on #1374
If you're asking about how to deal with binding an `int` to a textbox, I'd recommend putting the `numeric` attribute on it:

[code]

If you're looking for a more full-featured validation system, that's something we still have on the backlog. For now you would have to implement it manually, e.g., binding to a `string` value and then having your own logic to show a warning if the current value is no

[2018-09-03 13:14] #1374 closed

[2018-09-03 14:30] Sire commented on #747
Sounds good. Is there any easy way of switching to Json.NET (Newtonsoft)?

[2018-09-03 14:53] mjganesh commented on #1342
Change your version in global.json file as
{
  "sdk": {
    "version": "2.1.401"
  }
}

[2018-09-03 15:10] JamJar00 commented on #1380
That makes sense I guess, looks like this is related to issue #996 as I was adding it to the "Blazor" template. I hadn't realised that was *only* client side.

Interestingly, but another separate issue, is that the Blazor (ASP.NET Core Hosted) template (which I presume is what I should be using) isn't being setup correctly for me and is seemingly missing most of it's files; which is why I wasn't u

[2018-09-03 15:56] SteveSandersonMS commented on #1380
Great, thanks for the info!

[2018-09-03 15:56] #1380 closed

[2018-09-03 20:55] highphilosopher commented on #1381
@RyoukoKonpaku Actually when I try .Start() I get an error...
System.InvalidOperationException: 'Start may not be called on a promise-style task.'

@SteveSandersonMS
If I try to await the method call I still get the same error as I do with the Wait() method.

Note that it works fine when called from a button click in the HTML. It's the event firing call stack that fails to find the Javascript func

[2018-09-04 12:34] csnewman opened #1384 "BrowserHttpMessageHandler reads body content to end"
Inside "Blazor/src/Microsoft.AspNetCore.Blazor.Browser.JS/src/Services/Http.ts", the response data is handled via " responseData = await response.arrayBuffer();", which reads the entire response stream to the end, and then returns the data, however this is the incorrect behaviour.

HttpMessageHandler's should not buffer the response as this is handled within the HttpClient.

This means that method

[2018-09-04 15:30] csnewman commented on #1384
There are some polyfills available for the streams api, however even without these polyfills, being able to detect and use the correct behaviour when available would be a massive set forward.

For me in my use case, if the browser doesn't support the streams api, I would just disable the server events transport in signalr, and fallback to long polling.

[2018-09-04 15:34] andras-ferencz opened #1385 "Annoying wwwroot folder behavior - no failback mechanism for lack of an accessible index.html file."
If your visual studio lags out and in the process you [whack your keyboard](https://dqbasmyouzti2.cloudfront.net/assets/content/cache/made/content/images/articles/BrokenComputer_XL_721_420_80_s_c1.jpg) and it somehow hits the right combination of hotkeys to move the wwwroot folder to, say, Pages or Shared, you're going to have a really bad time with this wonderful error:

I understand that managin

[2018-09-04 15:54] danroth27 commented on #1385
Thanks for this feedback! We can take a look at making it easier to diagnose this error.

The reason why the wwwroot folder in Visual Studio is movable is because the web root of your application, at least for ASP.NET Core,  is a configurable value. It's wwwroot by default, but the user can change it by configuring the web root for the host.

[2018-09-04 16:01] danroth27 commented on #1384
Thanks for reporting this issue!

Is you're main goal here to get a working SignalR client? Have you looked at https://github.com/BlazorExtensions/SignalR?

[2018-09-04 16:50] River39 commented on #1324
editing the global.josn and settings the "version" to "2.1.400" fixed the issue for me.

[2018-09-04 17:50] danroth27 commented on #842
@topnguyen Correct, the story is pretty much the same.

[2018-09-04 18:57] csnewman commented on #1384
Yeah, thanks for the suggestion, but I'm working on using the .Net client within Blazor, instead of that wrapped api version.

You can take a look if you want? https://github.com/csnewman/BlazorSignalR, Currently only long polling works.

This approach has the benefit of it just being an addon for the actual .net api, and having all the relevant docs available and supporting all future versions (p

[2018-09-04 19:10] danroth27 commented on #1384
Got it - makes sense.

[2018-09-04 22:42] Suchiman commented on #1384
@csnewman i've opened #1387 which makes `ResponseHeadersRead` work to allow reading headers without reading the body. Does that fix your issue or do you also strictly require that the response body gets streamed as well?

[2018-09-04 22:57] csnewman commented on #1384
@Suchiman the response body must be streamed for server side events, as the connection is kept open forever, and messages are wrote to the body as available, meaning the body can never be fully read, it must be streamed.

Thanks for creating that fix though, and I imagine it will fix some simpler use cases, however fixing message handler is the only real solution.

[2018-09-05 00:59] Lupusa87 opened #1388 "warning BL9993: Component parameter 'any' is marked public, but component parameters should not be public"
**This warning has no sense!**

1. If I want to access child **property or action** from parent using component reference I need public property (why should I add extra public method to modify private property) or action (especially).

2. I often access component's properties or actions from any place inside application, logically I need public properties or actions to have control of them.

I use

[2018-09-05 01:03] Lupusa87 commented on #1355
Protected not helps, I opened new Issue - 1388

[2018-09-05 03:57] Lupusa87 commented on #1355
@aviezzi
I often save component instance and then invoke different methods, actions or change properties as I need.

For example:
I am setting in some class's property this component later to call any public stuff.
[code]

Chessengine has compsettings property wich has all component references
[code]

some method in chessengine
[code]

call examples from different places
[code]

I can save this in

[2018-09-05 04:00] Lupusa87 commented on #1388
This contains cases mentioned above https://github.com/aspnet/Blazor/issues/1355#issuecomment-418591770

[2018-09-05 08:26] SteveSandersonMS commented on #1388
The analyzer that tells you to use nonpublic (i.e., `private`, `protected`, or `internal`) only applies to component *parameters*, not to any other methods, properties, or fields. So if you want to have public methods on your components you absolutely can and should - that's a totally standard pattern.

The only thing we're recommending not to do is have public *parameters* (i.e., `[Parameter]`).

[2018-09-05 08:26] #1388 closed

[2018-09-05 08:39] kant2002 opened #1389 "Libman restore does not working"
If add libman.json to the project, then on new PC on the build files does not restored

[2018-09-05 09:26] arkadiuszwojcik opened #1390 "Component not rendering after StateHasChanged call"
I have created simple `NavElement` component that changes a bit standard `NavLink` behaviour. According to log all logic works but somehow component is not re-rendered after `StateHasChanged` call. Relevant code looks like this:

        private void OnLocationChanged(object sender, string newUriAbsolute)
        {
            Console.WriteLine("OnLocationChanged");

            var shouldBeActive

[2018-09-05 10:14] rpedretti commented on #1390
I Just found yesterday the same problem. I was able toget it working calling it lke `Task.Run(StateHasChanged);`

[2018-09-05 14:55] arkadiuszwojcik commented on #1390
@rpedretti are you sure of this solution? Doesn't work for me :(

[2018-09-05 14:56] danroth27 commented on #1390
@arkadiuszwojcik  How is OnLocationChanged called? Can you share more complete component implementation that we can use to reproduce the issue?

[2018-09-05 14:59] danroth27 commented on #1389
This issue was moved to aspnet/LibraryManager#368

[2018-09-05 14:59] #1389 closed

[2018-09-05 15:28] csnewman commented on #20
For people who wish to use the native SignalR Core .Net client library, you can take a look at https://github.com/csnewman/BlazorSignalR

[2018-09-05 15:31] arkadiuszwojcik commented on #1390
@danroth27 whole component code looks like this:

[code]

[2018-09-05 17:41] arkadiuszwojcik commented on #1390
@danroth27 Don't know if that is relevant but I use this `NavElement2` as part of MainLayout. Is it releated somehow?

[2018-09-05 18:29] csnewman commented on #1384
@Suchiman There's no rush on fixing this, as I have worked around the lack of support by just proxying the requests across to JS and using the browsers mechanisms (like EventSource).

[2018-09-05 18:31] danroth27 commented on #1348
Looks like the same as #1324

[2018-09-05 18:31] #1348 closed

[2018-09-05 20:34] ChuckBevitt opened #1392 "Sample App Does Not Compile"
I followed the directions carefully at https://blazor.net/docs/get-started.html to create your first project. However, when I try to build the sample app created by the template I get this error:

Error	MSB3073	The command "dotnet "C:\Users\DevCharlesB\.nuget\packages\microsoft.aspnetcore.blazor.build\0.5.1\targets\../tools/Microsoft.AspNetCore.Blazor.Build.dll" write-boot-json obj\Debug\netstanda

[2018-09-05 20:57] footysteve commented on #1348
In case it helps, is your startup object set? It seems that may be cleared under certain conditions, changing startup project for instance, not restricted to Blazor.

[2018-09-05 21:00] #1375 closed

[2018-09-05 21:07] rynowak commented on #1377
Hi @maraf - this is expected. Razor attributes behave specially when the type of the component property being set is known string. This is a convenience shorthand for `Message="@("Try adding some exchange rates.")"`. If you need to pass a string in a parameter that accepts an object, you'll have to wrap it in `@(...)`.

[2018-09-05 21:07] #1377 closed

[2018-09-06 00:53] SwErSumant opened #1393 "Browser ( Chrome ) Extension development Template"
NOTE: **Its not a browser extension to support blazor but develop any browser extension by using blazor.**
We can start from here
https://developer.chrome.com/extensions/getstarted
Can you please provide browser ( Chrome ) extension development template ?
Which other browser extension development is possible ?

[2018-09-06 01:53] iAmBipinPaul commented on #1393
backlog #775 (Blazor dev tools browser extension). This will be developed using Blazor.

[2018-09-06 08:15] SteveSandersonMS commented on #1392
I've never had that error myself, but searching for the error code brings up this StackOverflow post: https://stackoverflow.com/a/43237980 ... where multiple people claim they've had it when their NuGet packages directory is corrupt or inconsistent in some way, and their fix has been to clear the NuGet packages directory (e.g., `dotnet nuget locals all --clear`).

Since this doesn't appear to be B

[2018-09-06 08:15] #1392 closed

[2018-09-06 08:48] maraf commented on #1377
Oh.
Ok, thanks for explanation.

[2018-09-06 09:27] kant2002 commented on #1300
@danroth27  It is already update to 0.5.1 in ASP.NET samples repository.

[2018-09-06 09:35] SteveSandersonMS commented on #1300
Good point - thanks @kant2002!

[2018-09-06 09:35] #1300 closed

[2018-09-06 10:17] kant2002 commented on #1300
@SteveSandersonMS I just looking for simple tasks which I could solve.

[2018-09-06 12:26] SteveSandersonMS commented on #1192
Just checked, and this was already set up by @natemcmaster as part of the move to build in VSTS. Thanks Nate!

[2018-09-06 12:26] #1192 closed

[2018-09-06 13:57] stsrki opened #1394 "ref attribute is null"
I have a custom components for my _navbar_ and I want to control the collapse(BarMenu) using the reference attribute like this:

[code]
In my BarToggler I have this code for button onclick event:

[code]
and in BarMenu:
[code]

Now the problem is that this only works if I place the Bar **inside** of MainLayout component. If I try to place it inside of any other component/page it is not working. Th

[2018-09-06 14:14] JacksonHamner commented on #1348
AnkitSharma-007 was correct, it was a problem with the version of the sdk that the template provides. updating that value to
` "sdk": { "version": "2.1.400" } `
resolves my problem

Thank you

[2018-09-06 16:28] NikolayIT commented on #1185
I have the same problem with 0.5.1.
My scenario: I get the JWT token from the local storage in my App.cshtml. This operation **should** complete before `OnInitAsync` ends because pages need this token for authenticating the API calls.

[2018-09-06 17:49] danroth27 commented on #1185
@NikolayIT Does awaiting the async call not work for your scenario?

[2018-09-06 18:13] NikolayIT commented on #1185
@danroth27 awaiting the async call works as expected. But as I explained I need to execute it synchronously as its result is needed by the child components and pages.

[2018-09-07 09:10] NikolayIT opened #1395 "When using binding, on enter key pressed I do not receive the actual input value"
I have the following code:

    <input bind=@this.Value onkeypress="@KeyPress" />
    @functions {
        public string Value { get; set; }
        void KeyPress(UIKeyboardEventArgs e)
        {
            if (e.Key == "Enter")
            {
                Console.WriteLine(this.Value);
            }
        }
    }

When I write some text in the input field (for example `test1`) and click ente

[2018-09-07 10:12] itubume commented on #1293
There are many different related problems related to your report. When porting an admin theme like https://demo.pixelcave.com/codebase/db_classic.php, blazor will break almost the whole javascript functions. I guess the event Listener behavior should get more focus...

[2018-09-07 11:38] SteveSandersonMS commented on #1394
This approach isn't valid because you're trying to pass `@barMenu` to `<BarToggler>` before the `<BarMenu>` has even been instantiated. It gets instantiated *after* `<BarToggler>`, because in your code, `<BarToggler>` comes before `<BarMenu>`.

It probably would work if you swapped the order of those two components, but that would be a fragile (and a bit hacky) solution.

If you really want to use

[2018-09-07 11:38] #1394 closed

[2018-09-07 11:43] SteveSandersonMS commented on #1394
BTW maybe a simpler short-term solution for you would be:

[code]

... so that BarToggle doesn't have to know about BarMenu at all. It would just expose an `OnClick` (of type `Action` or `Func<Task>`).

[2018-09-07 13:35] SteveSandersonMS opened #1397 "Avoid publishing _bin/asmjs/wasm directories for server-side only apps"
Currently the build/publishing process doesn't differentiate between WebAssembly and server-side Blazor apps, and hence it outputs `mono.wasm`/`mono.asm.js` and the `_bin` directory (containing client-downloadable .NET assemblies) in both cases.

You *do* want to publish those files for WebAssembly apps, but you *don't* for server-side only ones (partly because it's pointless extra stuff to publis

[2018-09-07 16:05] GodzillaDaThrilla opened #1398 "Sidebar auto-collapses any collapsable children on wide media - fix included"
Figured this out while trying to create an accordion on the sidebar. I found that the standard bootstrap collapse on child elements worked fine on small screens where the sidebar collapses to the top, but on large screens the accordion menu(s) would just keep re-collapsing (again, only only large screens, collapseable elements functioned normally in mobile view).

### The Problem:
The problem is w

[2018-09-07 17:10] danroth27 commented on #1185
@NikolayIT Ah, I see. Yes, even if you await the call to retrieve the JWT in OnInitAsync the component rendering will proceed. You'll need to have logic in the child components that checks to see if the JWT is available, and if not display some sort of "Loading..." message. We do rerender once OnInitAsync completes. If your setting up the JWT in the App component and using routing, then that compl

[2018-09-07 17:54] danroth27 commented on #1397
Why do we want folks to recognize that they have a choice? Having this be opt in seems to contradict our principle that we are optimizing for the client.

[2018-09-07 18:05] danroth27 commented on #1395
I believe this is expected. The bind is handled using the `onchange` event, which isn't triggered until after `onkeypress` is fired.

[2018-09-07 18:05] #1395 closed

[2018-09-08 11:59] mrpmorris opened #1399 "Blazor Language Services causing Visual Studio to crash"
When I open a Blazor project VS hangs for a while and then disappears. The next time I open it I am informed Blazor Language Services extension caused the problem.

https://www.youtube.com/watch?v=qqbAc9Kbo3M

Let me know if you need anything additional (project / logs / remote access to laptop).

 Update - Output from build process

[2018-09-08 12:34] Andrzej-W commented on #1379
Thank you @footysteve for your solution. It is better than original Blazor code, but still not perfect.
1. On small screen click hamburger button to open menu.
2. Make screen bigger. You see menu on the left - it is OK.
3. Make screen smaller. Menu on small screen is **visible**. *I would like to have it hidden.*

Let's assume that the above behaviour is expected. Repeat the steps with small chang

[2018-09-08 13:09] mrpmorris opened #1400 "StateHasChanged has no effect when called from JavaScript interop"
I've uploaded a sample app here https://drive.google.com/open?id=1HnrxLNiRAbfTn3Mgwkk-pvgZeqrb7Rjb

1. Run the app
2. Note that the Counter is 0
3. Click the button (repeatedly)
4. Note it remains 0

Edit index.cshtml
Comment out the call to StateHasChanged in OnPageLoaded

1. Run the app
2. Note that the Counter is 0
3. Click the button (once)
4. Note it changes to 2

Conclusion: A call from Java

[2018-09-08 13:34] Liander commented on #1399
I just want to fill in to say that you can easily reproduce with cut&paste `<input></input>`

The input tag is a void/empty tag not excepting any children so the tag expected is `<input/>` but the error is not handled gracefully.

[2018-09-09 00:21] StingyJack opened #1401 "A compatible SDK version for global.json version: [2.1.300] ... was not found"
I was getting this when trying to follow the Getting Started guide.  I found my version number by using `dotnet --version` (it was 2.1.401) and then I replaced the 2.1.300 into the `global.json`.

The Getting Started does work at this point, are there any known problems with using a slightly later version of the dotnet SDK?

[2018-09-09 04:51] danroth27 commented on #1401
Nope, using a later SDK is fine. We'll be removing the global.json files in our next release. Sorry about the confusion!

[2018-09-09 04:51] #1401 closed

[2018-09-09 15:13] lakani opened #1402 "for loop only render last value"
i've modified a littel the counter page to try how i can render array of buttons, but i got a strange behavior
`
`@page "/counter"`
`
<h1>Counter</h1>`

`<p>Current count: @currentCount</p>`

`<button class="btn btn-primary" onclick="@IncrementCount">Click me</button>`

`<button class="btn btn-primary" onclick="@Reset">Reset</button>`

`@for (int i = 0; i < _Sarr.Length; i++)   {`
	` <button class

[2018-09-09 16:34] Jan-Hettich commented on #1298
As of 9/8/18, Razor.Design is at 2.1.2, while AspNetCore.App is at 2.1.3, and I was having this issue until, based on your suggestion, I put explicit references to both package versions:
`    <PackageReference Include="Microsoft.AspNetCore.Razor.Design" Version="2.1.2" />
    <PackageReference Include="Microsoft.AspNetCore.App" Version="2.1.3" />`
Not sure if this is the best way going forward, bu

[2018-09-09 21:37] rynowak commented on #854
Yeah this a limitation we have right now unfortunately. I think we all agree that using `RootNamespace` would be the correct thing to do. This will require changes to the Razor SDK and VS to support, so its a few months away.

[2018-09-10 04:04] danroth27 commented on #1402
@Andrzej-W Thanks for answering!

[2018-09-10 04:04] #1402 closed

[2018-09-10 12:52] StingyJack commented on #1326
I found that cancelling the build, killing all dotnet.exe, msbuild.exe, and vbcscompiler.exe instances in task manager would permit me to Clean the solution and then build it. None of those appeared to be doing any work, it almost looks like VS lost connection to those child processes.

[2018-09-10 16:48] cubbK commented on #916
I was getting the same error with blazor 0.5.1  It worked for me by changing the sdk version in global.json to my installed one.
![image](https://user-images.githubusercontent.com/3717949/45311558-247d8c00-b532-11e8-9332-f0f1d2eb60e1.png)

[2018-09-10 20:21] LaurenceFrost opened #1406 "Subscribing to data changes"
Coming from a Knockout background, I am used to creating properties (observables) in my view models, and then creating subscriptions to them so that an event automatically occurs when a value changes (regardless of how that value change happens).

Is there something similar in Blazor (either already, or in the pipeline)?

Taking the inbuilt "counter" example, I want SetDataAsChanged() to be called

[2018-09-11 00:05] rynowak commented on #1399
I'll look into this

[2018-09-11 01:02] Lupusa87 commented on #1406
[code]

[2018-09-11 02:02] Lupusa87 commented on #1400
Dynamic add script to html is bed practice and restricted by compiler, in your case it is not inside blazor component and it not gives error (it will be corrected I hope).
https://github.com/aspnet/Blazor/issues/552

@SteveSandersonMS I think we need to add compilation error also for rendering fragment if there is script in text.

@mrpmorris Please explain what you aim to do and maybe we will find

[2018-09-11 08:53] osintsevvladimir commented on #1073
Yes, for me this feature is also very important.

[2018-09-11 08:55] #1227 closed

[2018-09-11 10:39] mrpmorris commented on #1400
When you call Store.Initialize() it will initialise the state of the store and ensure any Middleware script is included in the page. This isn't going to be possible in HTML unless we are able to @inject references.

[2018-09-11 11:02] SteveSandersonMS commented on #1406
This opens up the whole question of state containers, observability, and so on. It's certainly an area we're interested in (#27) but it will be a while before we consider doing anything built-in.

Right now you might want to look at [this MobX clone for Blazor](https://github.com/aspnet/Blazor/issues/27#issuecomment-417856705), which provides essentially the same observability you'll recognize fro

[2018-09-11 11:02] #1406 closed

[2018-09-11 15:09] stsrki opened #1408 "Detect parent from child component"
Sorry if this was answered already. I have a need for the child component to behave differently based on the parent in which it is placed. I need to know if the _ChildComponent_ is placed inside of _ParentComponent_ or not.

For axample if I have this
[code]
it would render:
[code]

And this
[code]
it would render:
[code]

Is this even possible?

[2018-09-11 15:56] ruratnayake opened #1409 "Int.Parse and Int.TryParse not working"
I have tried to do some validation message display based on the input change on an input field. but seems Int.Parse and TryParse not Working.

I have modified the counter page in the default template. Functionality should be if user enter valid integer value the increment counter value should be increased by 1. otherwise decrement by 5. no change detected on increment counter

[code]

[2018-09-11 16:33] Eilon commented on #1409
I believe you can't use `bind` and `onchange` in the same element. `int.TryParse` and friends should work fine - I use them in my Blazor app.

[2018-09-11 17:18] mrpmorris commented on #1400
Update: This isn't a problem if the javascript is executed via setTimeout(......, 0);

[2018-09-11 17:30] masonwheeler opened #1410 "Blazor rewrite rule is far too broad"
URL rewriting is important for making a SPA work, but the standard ASP.NET rewrite rule for Blazor is completely broken.  It essentially says "take any request that doesn't exist and treat it as a request for index.html", which means that requests for things that *should exist but don't* also return index.html instead of generating a 404, making debugging much more difficult.

What's needed is an

[2018-09-11 18:08] vargonian commented on #784
I'm using 0.5.1 and still having this issue.

[2018-09-11 18:11] csnewman commented on #1410
Some people may want the 404 to be handled inside the client web app and either display a local 404 page or do some special behaviour. So it would need to be easily configurable.

[2018-09-11 18:13] csnewman commented on #1410
It's also worth noting that the rewrite rule is often set on nginx proxies etc (as advised by the docs).

[2018-09-11 18:14] stsrki commented on #1408
That is what I'm trying to avoid. I don't want to add too many parameters to my components, it would be a complete mess later on.

I could try JSInterop route for now, at least until the `context` is ready in one of the future releases.

[2018-09-11 18:56] masonwheeler commented on #1410
Sure, but for this to happen, there needs to be a 404 in the first place.  Right now, there isn't.  What this means is that if your page references a resource (image, JS file, CSS file, etc) that you forgot to upload to the server, you don't get a proper error for it; you get a copy of index.html.  And no matter what the right solution is, that's simply wrong.

[2018-09-11 21:53] WhiteBookmark commented on #1328
I tried using Ctrl + F5 but it throws an error

![blazortest](https://user-images.githubusercontent.com/37548818/45389963-fcc41c00-b636-11e8-82aa-b69982559f0e.PNG)

[2018-09-12 03:52] robertmclaws commented on #64
So I'm working on an authentication system that will be able to handle the various providers. It works completely client-side, uses ClaimsPrincipal, and doesn't expose any secret keys or anything like that.

Now, my question is this: I'm working on the token refresh mechanism, and I need to know: does the HttpClient instance reuses the browser's CookieContainer when it makes requests? I'm hoping i

[2018-09-12 08:35] freerider7777 commented on #1298
Same thing, I had to add PackageReference 2.1.2 to all projects for dotnet build from command line (VS 2017 builds without errors which is strange)

[2018-09-12 09:10] csnewman commented on #1410
I don't think the analysis of the routes is the best method, and instead you should be able to exclude paths instead (Like don't redirect /resources/ for example), as already happens with "/_framework/".

By doing path analysis, you only exclude unknown routes, but then what about unknown resources, such as an "/thread/{id}" endpoint. This would then require two separate 404 implementations, one a

[2018-09-12 09:47] LaurenceFrost commented on #1406
Great stuff - thank you for the response.

[2018-09-12 12:09] srburton commented on #1328
@WhiteBookmark  Open your CMD in the project folder and run the following command  "dotnet--info " and send me the print so I see something if you can send me a print also from the Build Setup screen would be a good,

[2018-09-12 14:13] masonwheeler commented on #1410
I'll freely admit I'm no expert on the intricacies of rewriting rules, but is it truly a difficult thing to put a wildcard in one of them, so you can have a rule that rewrites "/thread/*" to index.html?

[2018-09-12 14:57] SteveSandersonMS commented on #1397
Only because there's a security aspect. If *by default* we're letting clients download .NET `.dll` files, that could come as a surprise for people who think of their app as running server-side only.

[2018-09-12 14:59] Andrzej-W commented on #1409
@Eilon is right. Read more here: https://blazor.net/docs/components/index.html#data-binding

[2018-09-12 16:11] WhiteBookmark commented on #1328
@srburton
Attached both screenshots:

![cmd](https://user-images.githubusercontent.com/37548818/45438381-6f350a80-b6d0-11e8-8e6f-b7943424c7f5.PNG)
![rebuild](https://user-images.githubusercontent.com/37548818/45438388-74925500-b6d0-11e8-9a9d-b0489b852728.PNG)

[2018-09-12 18:19] samuelcavendish opened #1411 "Blazor (Server Side) displays blank page"
I've seen similar issues for older versions, but I think this is a different one since it only seems to affect the server side project, the client side project seems to work correctly.

I followed the setup instructions from https://blazor.net/docs/get-started.html
VS version 15.8.2
dotnet version 2.1.402

When clicking new project & selecting the server side project it shows the loading screen an

[2018-09-12 21:45] vertonghenb opened #1412 "Unpredictable No element is currently associated with component {ComponentId}"
**Edited to remove the false-positives**

Reproducable : https://github.com/aspnet/Blazor/issues/1412#issuecomment-439267547

Using Blazor Server Side
From time to time Blazor throws the following error:
`No element is currently associated with component {ComponentId}`

The error is always thrown on the first load after a `StateHasChanged`, if you hard refresh the page the error doesn't happen any

[2018-09-12 22:18] sourceskyboxer commented on #1195
Hello everyone, I am sorry disturb your issue.
I see like you mean DLLImport works same to Webassembly right?
What does it see in DllImport? You mean native-library.js in [DLLImport("native-library")] or native to current operating system? with xml / config in web directory and DLLImport will check if you are working at Windows than web assembly will know your operating system and detect dll file,

[2018-09-12 23:09] vargonian commented on #1242
Frustratingly, I'm getting this again.  This time with this method inside my Index.cshtml file which is child content of my main layout file (names have been changed):

[code]

I see nothing but a blank screen and no console output in the browser dev tools.

[2018-09-13 01:30] srburton commented on #1328
@WhiteBookmark
The global.json specifies the SDK version of .NET Core that is being used to build your application. This has little to do with the .NET Core Runtime version that you want to run your application with.

Your application is a netcoreapp2.1, so you are running the .NET Core 2.1 Runtime. The earliest SDK Version for that is 2.1.300.

Since that is the latest .NET Core version, you actu

[2018-09-13 01:32] srburton commented on #1328
Another thing is to update your Visual Studio, from a look at that flag that is yellow in your Visual Studio and see the updates thinking

[2018-09-13 05:57] danroth27 commented on #1324
This should now be fixed by https://github.com/aspnet/Blazor/pull/1386

[2018-09-13 05:57] #1324 closed

[2018-09-13 09:29] stanac opened #1413 "Blazor is not re-rendering component when field is changed by mediator message handler"
### Functional impact
DOM is not updated

### Minimal repro steps
Repro repo here: https://github.com/stanac/BlazorNotRendering

### Expected result
DOM is updated when field changes.

### Actual result
DOM is not updated.

### Further technical details
For cross component messaging I have created a simple mediator class and registered it as singleton. One component is sending a message and the ot

[2018-09-13 10:40] PascalKoe opened #1414 "Can't create Blazor server side project with VS"
When creating a server side application, an empty solution is presented. App and Server projects have been created as seen in the file browser but can't be opened in VS.
Similar problem happens when creating a ASP.NET Core hosted Blazor application.
I have SDK version 2.1.402 installed which should be working according to the Getting Started guide.

I found a manual fix by editing the SDK version

[2018-09-13 11:16] stanac commented on #1413
It looks like there is a workaround, calling `base.StateHasChanged();` will re-render component.

[2018-09-13 13:05] Andrzej-W commented on #1414
global.json will be removed in the next Blazor release.
https://github.com/aspnet/Blazor/issues/1401#issuecomment-419690807

[2018-09-13 13:28] MarkStega commented on #1413
I don't think that is a workaround. I believe that is expected. As an example, your closure method basically creates an async task on the thread pool and then the handler completes and creates a re-render but nothing has changed so the UI remains static. Some time later that task increments the counter; there is no way that the UI will react to that if you don't tell it that the state has changed.

[2018-09-13 15:35] SteveSandersonMS commented on #1414
Thanks for reporting it. As @Andrzej-W commented, this is already resolved in the sources, so the fix will be in 0.6.0.

[2018-09-13 15:35] #1414 closed

[2018-09-13 15:40] SteveSandersonMS commented on #1413
Yes, as @MarkStega comments, this is expected. There isn't anything in your code that tells "Component that is handling the message" to re-render. You need to add a call to `StateHasChanged()` after your line that logs *int message recieved*.

Also you should beware that your code as-is probably leaks memory. You are calling `_mediator.Subscribe`, but there's no corresponding call to `_mediator.Un

[2018-09-13 15:40] #1413 closed

[2018-09-13 15:42] archamba commented on #916
Thanks cubbK, that did it!

[2018-09-13 15:43] SteveSandersonMS commented on #1412
This isn't a known issue, so if you have any way to reproduce it, we'd definitely want to fix it.

I can't really take any action on this right now because I've never seen this happen so have no clue about what might cause it. It's possibly something unique to your app, but we'd know more if there was a repro.

Can you clarify this point? Is there some code sample you could post that shows it with

[2018-09-13 15:49] SteveSandersonMS commented on #1411
We've recently fixed some issues with VS15.8, so it's likely your issue will go away as part of the 0.6.0 release. In the meantime with 0.5.1 I'd recommend using VS15.7.

Since the first opportunity we have to make further changes is the 0.6.0 release, and since we'll certainly verify the VS15.8+.NET Core 2.1.4xx combo as part of 0.6.0 verification, I might as well close this (any action prompts i

[2018-09-13 15:49] #1411 closed

[2018-09-13 15:54] SteveSandersonMS commented on #1410
It's a good suggestion, and relates to suggestions that often come up in the context of ASP.NET Core's SPA templates (Angular, React, etc.).

However, we could only do this when the app was executing on the server. We can't (even theoretically) do it when you're running on WebAssembly, because you can use arbitrary code to determine URL matching on the client - you're not limited to static `@page`

[2018-09-13 15:54] #1410 closed

[2018-09-13 15:55] SteveSandersonMS commented on #1409
Thanks for answering @Eilon and @Andrzej-W!

[2018-09-13 15:55] #1409 closed

[2018-09-13 15:56] SteveSandersonMS commented on #1408
Thanks for answering, @RyoukoKonpaku! And yes, `context` should help when implemented.

[2018-09-13 15:56] #1408 closed

[2018-09-13 16:02] SteveSandersonMS commented on #1316
Update: We've heard from the Mono team that, in an update coming soon, they are changing how LINQ expressions are handled internally. The change will mean Json.NET will work out of the box without linker config changes, and the BCL will get a bit smaller, and the LINQ expressions handling will be substantially faster.

[2018-09-13 16:03] masonwheeler commented on #1410
Really?  How's that done?

[2018-09-13 16:05] SteveSandersonMS commented on #335
@danroth27 Is there an established pattern for how we include TPN in NuGet packages? Just as some extra file within the zip archive, even though nobody would see it? Or do you intend this to be one of those "accept licenses" prompts when installing the package?

[2018-09-13 16:05] urielgoncalves commented on #279
@AlanJacobsSandnet Sorry for the delay. I suggest you to look at this if you have not already.
https://docs.microsoft.com/hu-hu/dotnet/core/tools/global-json

;)

[2018-09-13 16:09] SteveSandersonMS commented on #1410
#293 includes allowing you to subclass `Router` and override the URL matching logic arbitrarily.

Shorter term, it's possible (though harder) to subscribe to the `IUriHelper`'s `OnLocationChanged` event to make your own router from scratch.

[2018-09-13 16:09] danroth27 commented on #1316
We expect the update will come post 0.6.0 though.

[2018-09-13 16:16] SteveSandersonMS commented on #1316
Oh yeah sorry, should have clarified that.

[2018-09-13 16:16] masonwheeler commented on #1410
So apparently if you go well out of your way to mess with the way routing works, then this idea won't work.  But if you have the technical knowledge to do so, you'll also know how to update the rewrite rules to compensate for it.  In the meantime, this proposal is still a good solution to 99% of the problem.  Please reopen.

[2018-09-13 16:21] SteveSandersonMS commented on #1410
Thinking about this more, the one realistic way we'd attempt this is as part of #24, so I'll add a note about it there.

[2018-09-13 20:57] WhiteBookmark commented on #1328
@srburton
I deleted global.json and now its working fine, thank you :)
I will update my VS, thanks for notifying

[2018-09-13 21:53] vargonian commented on #1242
It is defined as a private IEnumerable<MyDto> in Index.cshtml.  I iterate through these values to populate a dropdown list (HTML select element) in the page.  I'm admittedly second-guessing myself now because my code has changed since then, so I changed it back to try to reproduce the issue, and naturally I can't.

I really don't want to waste your time, so the next time I encounter this issue, I'

[2018-09-13 21:53] #1242 closed

[2018-09-13 23:18] tauheedul opened #1415 "Please add Blazor sample with ML.NET"
Blazor allows us to use .NET Core features. Now that the .NET Core supports machine learning, it would be very helpful to learn how we can use ML.NET features with Blazor on the client side.

If this works, we could perform machine learning on the client side or server side using our web apps.

[2018-09-14 02:09] Andrzej-W commented on #1073
I have just updated my comment here https://github.com/aspnet/Blazor/issues/715#issuecomment-403171755 with an example which (I believe) can be implemented in Blazor using async API.

[2018-09-14 06:28] stanac commented on #1413
@MarkStega interesting thing is that changing state from `Task.Run(() => { ... })` works fine, in this case there isn't a need to call `base.StateHasChanged();`

@SteveSandersonMS thank you for feedback on mediator and for pointing me to NObservable, it looks interesting (wasn't aware of MobX either).

[2018-09-14 06:49] tn-5 opened #1418 "Server side blazor does not trigger @bind update for auto filled input fields"
I have a test app with a login form with a username and password input, both bound to string properties on the model. It works correctly if I manually enter values in these fields (the string properties get updated from the @bind directive).

If the browser has a cached username / password combination and I select auto fill for these fields, the fields do get filled (visually on the page) but the

[2018-09-14 08:28] RemiBou commented on #1415
Blazor doesn't support .net core targeting assemblies, only .netstandard2

[2018-09-14 08:35] A51UK opened #1419 "Having asp.net razor for service side and Blazor on client side on the same views."
The idea is that you could use asp.net razor on service side when making the view but use Blazor to do any change on the clients side, like how with use  asp.net razor with JavaScript now. The reason for this is to allow the page to be sent with some data  on load and then use Blazor for any update or change after the page been sent.

A example of this would be on a shopping site where the first 1

[2018-09-14 09:32] SteveSandersonMS commented on #1419
It's a great idea, and in fact is exactly along the lines of something we're already considering: #24, so I'll close as a duplicate of that. Hope that's OK!

[2018-09-14 09:32] #1419 closed

[2018-09-14 09:50] stsrki opened #1420 "[Suggestion] Self closing tags"
This is not really an issue, just that it would be good to have. Right now the intellisense cannot detect components that should not have closing tags(or does not need them) e.g. `<div></div>`, but instead they would have a "_self-close_" tag e.g. `<input />` or `<img />`.

Possible use case would be for components that does not have `ChildContent`. For example I have an Icon component and I defin

[2018-09-14 10:19] SteveSandersonMS commented on #1420
I agree that would be nice. Not super urgent, but a good suggestion to have on the backlog!

I don't know exactly which team owns the code that autocompletes closing tags. Pretty sure it's not in Blazor itself, but for whether it's in http://github.com/aspnet/razor or VS itself, either @NTaylorMullen or @rynowak would know best.

[2018-09-14 10:25] PeskovV opened #1421 "Why blazor app doesn't work when i change root to folder “_framework”"
I change my base href in `index.html`: was `href="/"` has become `href="/schedule/"`

Also i change `Configure`:

     app.UseStaticFiles();
                app.UseStaticFiles(new StaticFileOptions()
                {
                    FileProvider = new PhysicalFileProvider(Path.Combine(Directory.GetCurrentDirectory(),@"Schedule.Client", @"dist")),
                    RequestPath = new PathStri

[2018-09-14 13:55] stsrki opened #1422 "Possible bug with for loop"
I have a `SimplePagination` component with just the basics:
[code]
**Use case:**
[code]

When rendered I get this:
![image](https://user-images.githubusercontent.com/900302/45553866-48dcaf80-b835-11e8-9a54-75b63ce2abf7.png)

But if I store the page number inside of temp var I get the expected result:
[code]
![image](https://user-images.githubusercontent.com/900302/45553947-86d9d380-b835-11e8-8bc1-

[2018-09-14 14:27] campersau commented on #1422
Yes, this is expected. See https://github.com/aspnet/Blazor/issues/1402, https://github.com/aspnet/Blazor/issues/764, https://github.com/aspnet/Blazor/issues/665

[2018-09-14 16:00] #1094 closed

[2018-09-14 16:16] SteveSandersonMS commented on #1422
Thanks for answering, @campersau!

[2018-09-14 16:16] #1422 closed

[2018-09-14 16:19] SteveSandersonMS commented on #1421
At the very least, you'd need to move your `UseBlazor` call into a block like:

[code]

... so that the `UseBlazor` middleware is operating within the new root.

There might be more as well - I'm not in a position to actually test this right now. However you can find a working example of a Blazor app hosted in a subdirectory at https://github.com/aspnet/Blazor/blob/master/test/testapps/TestServer/

[2018-09-14 16:19] #1421 closed

[2018-09-14 16:36] joeaudette commented on #1152
This solution still seems problematic because settings such as the api endpoints are hard coded in embedded resources and cannot be changed easily per deployment.

Using other spa frameworks I've passed in config as attributes on the app element, is it possible to do something like this in Blazor?

    <app
            authority="http://localhost:50405"
            client-id="spa-blazor"

[2018-09-14 16:40] SteveSandersonMS commented on #1152
@joeaudette Yes, you can use JS interop to read anything from the DOM, so you could certainly pass config info that way if you want.

[2018-09-14 16:47] joeaudette commented on #1152
@SteveSandersonMS thanks! will give that a try

[2018-09-14 17:07] ruratnayake commented on #1409
Thanks, guys for the quick feedback. hope blazor will support validations asap. :)

[2018-09-14 17:12] DanElliott opened #1423 "Namespace tied to directory name causes missing reference build issues"
With 0.5.1, created a new project named BlazorApp1 located in folder XYZ. Build errors claim

 at `obj\Debug\netstandard2.0\App.g.i.cs`, for example.

Reproduce error with `dotnet new blazor -o XYZ -n BlazorApp1`

[2018-09-14 17:18] NTaylorMullen commented on #1420
It's possible today. In the generated `TagHelperDescriptor` for the Blazor component if you set the corresponding [`TagMatchingRuleDescriptor.TagStructure`](https://github.com/aspnet/Razor/blob/40080f3637b25ceed9a1d0bff9dbffd4c10513ac/src/Microsoft.AspNetCore.Razor.Language/TagMatchingRuleDescriptor.cs#L20) to [`WithoutEndTag`](https://github.com/aspnet/Razor/blob/master/src/Microsoft.AspNetCore.R

[2018-09-14 17:26] danroth27 commented on #1342
@dsghi Good point. https://github.com/aspnet/Blazor.Docs/pull/244. This is also fixed in 0.6.0 #1386

[2018-09-14 17:27] #1423 closed

[2018-09-14 18:05] tauheedul commented on #1415
Thanks for your responses everyone, hopefully in the future as both technologies mature we will be use them together on the client side. In the meantime I'm sure we will be able to make it work on the server side where these limitations don't exist

[2018-09-14 19:04] danroth27 commented on #1328
The global.json issue will be fixed in our next release.

Since we don't have an activity log for this VS crash and we can't reproduce it I'm going to go ahead and close this issue.

[2018-09-14 19:04] #1328 closed

[2018-09-14 19:13] RudyMeijer opened #1424 "HTTP Error 502.5 - Process Failure"
Hi,

I Installed the latest Blazor Language Services extension from the Visual Studio Marketplace in VS2017 15.8.4 and created a new project.
![image](https://user-images.githubusercontent.com/17112368/45570253-4e042380-b862-11e8-9295-fe3b8f30493b.png)

When i run the Blazor application (Ctrl+F5) without modifications i get the error:

![image](https://user-images.githubusercontent.com/17112368/45

[2018-09-14 19:17] danroth27 commented on #1424
Yes, this is known issue with the global.json file included with the Blazor templates. It pins the SDK version to 2.1.3xx. If you don't that version installed on your machine (ex you have a newer version), then you get this error. This will be fixed shortly when we release 0.6.0, but for now you can workaround the issue by remove the global.json file from the project or by [installing SDK version

[2018-09-14 19:17] #1424 closed

[2018-09-14 19:20] RudyMeijer commented on #1424
About my VS info:
![image](https://user-images.githubusercontent.com/17112368/45570692-dc2cd980-b863-11e8-8c4b-05ba713f6a48.png)

[2018-09-14 19:44] danroth27 commented on #335
@SteveSandersonMS  I think it just needs to be included as content. See https://github.com/aspnet/KestrelHttpServer/commit/c4bf10d6e9d77f75fd2a413c87a6186ac52d3c69 for an example. @Eilon may know more.

[2018-09-14 19:44] danroth27 commented on #335
Adding @ChrisSfanos as well to advise.

[2018-09-14 19:49] danroth27 commented on #1411
@samuelcavendish You may be hitting the issue with the global.json file that we include in the project templates. It pins the SDK version to 2.1.3xx. If you don't have a .NET Core SDK installed with that specific version range then the project may fail to load or run. Can you try either removing the global.json file or installing [.NET Core SDK version 2.1.302](https://www.microsoft.com/net/downlo

[2018-09-14 22:31] danroth27 commented on #64
@robertmclaws The HttpClient uses JS interop to call into the fetch API ([BrowserHttpMessageHandler](https://github.com/aspnet/Blazor/blob/master/src/Microsoft.AspNetCore.Blazor.Browser/Http/BrowserHttpMessageHandler.cs)). We don't introduce a new cookie container.

[2018-09-14 23:06] danroth27 commented on #784
@vargonian Please open an issue with your steps for reproducing the issue and we'll take a look.

[2018-09-15 03:36] redmisfitx opened #1425 "Blazor Project won't compile"
Installed .NET Core SDK 2.1.402 and created a Blazor project in Visual Studio 15.8.4 I am not able to run the project. It throws the following error. I've tried suggestions like deleting the json file which has a reference to .net core 2.1.300 among many other things including clearing all nuget packages and restoring them. All to no avail.

This is the actual error.

Severity	Code	Description	Pro

[2018-09-15 06:38] Atulin opened #1426 "No Blazor template shows up in VS"
VS 15.8.4
![image](https://user-images.githubusercontent.com/11233299/45583446-aa972b00-b8c2-11e8-84b3-aed9e0ecc309.png)
![image](https://user-images.githubusercontent.com/11233299/45583450-b551c000-b8c2-11e8-8764-e924121ba8d4.png)

``dotnet --version`` results:
[code]

[2018-09-15 09:39] RyoukoKonpaku commented on #1426
The Blazor Templates are under the ```ASP.NET Core Web Application``` Template, particularly on the modal that pops up when you create one using that template.

[2018-09-15 10:39] RudyMeijer opened #1427 "Error 403"
Hi,

I just published my first Blazor succesfully!
![image](https://user-images.githubusercontent.com/17112368/45585224-5bacbe00-b8e1-11e8-847b-e991ea29280c.png)

When i open the website i get:

![image](https://user-images.githubusercontent.com/17112368/45585234-8565e500-b8e1-11e8-9f07-ff2dda8e430b.png)

After publish the host contains:

![image](https://user-images.githubusercontent.com/17112368

[2018-09-15 10:41] lohithgn commented on #1427
hi. when you use VS to publish, it creates additional folders. what you need to do is - just pick the contents of the folder DIST and upload those contents to your hosting provider... in your case the publish has published everything …
just upload the contents of the dist folder.

[2018-09-15 11:06] RudyMeijer commented on #1427
Thx! I moved the contents of the dist folder to public_html and now it works. Thank you again.

[2018-09-15 11:06] #1427 closed

[2018-09-15 11:12] lohithgn commented on #1427
cool. glad i could help you out 👍

[2018-09-15 11:57] lohithgn commented on #1426
Hi. Blazor is a flavour under ASP.NET Core Web App. So when you do File > New > ASP.NET Core Web App. Next you will be given Project Type selection dialog. There you can select Blazor project type.

[2018-09-15 14:29] shadowmint commented on #64
At a high level, how does this ticket relate to server-side rendered blazor components?

Isn't that going to require a full authorisation framework to invoke server side code, because it will not happen via the fetch api?

[2018-09-15 14:42] grahamehorner commented on #64
@shadowmint I don't follow? AFAIA the cookie that is supplied to the server-side rendered blazor components would be the claims cookie that was given to the user at sign-in just like and use the standard roles/claims a standard .net core web application?

[2018-09-15 14:46] tezine opened #1428 "Live reloading not working"
Hi,
Live reloading is not working on version 0.5.1.
I'm using dotnet sdk 2.1.300 under Windows 64.
Whenever I change a html content, it's not updated in the browser. I tested using Chrome, pressing F5, cache disabled and debug mode.
Is this working anyhow?
I also tested using dotnet blazor serve without success.

[2018-09-15 14:53] grahamehorner opened #1429 "Blazor - Adaptive Cards"
Please consider adding support to blazor for adaptive cards; rendering/injecting interactive cards into the DOM and receiving events from the card.

[2018-09-15 15:02] shadowmint commented on #64
@grahamehorner yes, but normally an authorisation policy would be applied, eg. in MVC, at the controller; I don't understand where this would be done in this case?

Or would the component be required to authenticate the user request manually based on the claims? ...in which case, doesn't the client-only blazor need to know about claims?

Perhaps I haven't understood how this is supposed to work; a

[2018-09-15 15:27] Atulin commented on #1426
Ah, silly me. Yes, it's there, thank you!

[2018-09-15 15:27] #1426 closed

[2018-09-15 16:04] lohithgn commented on #1429
Any example you can give or point to ? you can always build a cards component and have the JS interop that you can write to wire up all sorts of events that you will be interested from that component ? Are you saying Blazor should have out of the box support for such component ? I believe the team is focused on making the tech stable. These things *as of now* will be left to community to come up w

[2018-09-15 16:07] lohithgn commented on #1428
Just checking to make sure - can you run the app in visual studio by using the combination "Ctrl+F5" … then make a change in html/code , save it , go back to browser and refresh again

[2018-09-15 17:53] robertmclaws commented on #64
So this is going to be interesting to work out.

I'm working on a framework that allows client-side Blazor to authenticate with 3rd party systems like Auth0 through regular C#, not importing JS libraries. It's wired up in Startup.cs, and should feel very familiar to OWIN and ASP.NET Core developers.

I'm working on a blog post about this, but here's the gist of it:
![image](https://user-images.git

[2018-09-15 18:13] tezine commented on #1428
Hi @lohithgn , same problem. Ctrl+F5 didn't solve it.

[2018-09-16 03:12] tyler0814 opened #1430 "Question: Is it possible to use Local IIS to serve blazor on local machine?"
Hello,
I have been trying to set up a new blazor up on IIS using a virtual directory like "localhost/blazorapp". However, I keep running into one of two issues:
1) If I start it without debugging (CTRL+F5), I get an IIS HTTP Error 502.5: Process Failure
2) If I start it with debugging (F5):
- On every first run after opening the project, I get "Caesium.Core.TestRunner> Version for package `Microso

[2018-09-16 04:25] kunalspathak opened #1431 "Getting Mono.Cecil.ResolutionException during build"
Please let me know if this issue should be open in mono repository,

I followed [directions](https://blazor.net/docs/get-started.html) to start Blazor. It build and worked fine. Then I tried writing some code using [Prose SDKs](https://www.nuget.org/packages/Microsoft.ProgramSynthesis/) and when I built, I get following errors. Is there something that is not supported yet?
[code]

The code I had i

[2018-09-16 05:44] fztoronto commented on #916
Thanks CubbK!

[2018-09-16 15:07] kwaclaw commented on #828
Angular Elements are web components., and the reason they are part of Angular is that web components are part of the HTML standard and therefore recognized by the browser without help from any framework.

I don't see how parts of the HTML standard can be ignored by Blazor.

[2018-09-16 15:53] JohnyL opened #1432 "Visual Studio doesn't show "Blazor" project template"
Visual Studio doesn't show "Blazor" project template:

![IMG1](https://jy6aig.am.files.1drv.com/y4mauLwTx069pbd96LhWvNZx5BPsgsnmIdSAlWlzLbNhPHf2iI3eNqBe_0_vvl5Px4w7YynXwGSQ4eQtsYVPMuabrqf816F1kQiewqcDOiT5FIPT8M0VhGbdkLf30ZMqCfCpW3BZ2tGOqTlJ9F-Wnt4SmRxHiH82YcE7uUcUg1nRXmPmIlEoqIIEOeYDEcr_Xq7LjFgVIFaSXq5xrW3l2WGIA?width=786&height=553&cropmode=none)

Blazor Language Services extension is installed:

[2018-09-16 18:57] JamesNK opened #1433 "NRE exception with Newtonsoft.Json"
Hi

This PR was raised for Newtonsoft.Json - https://github.com/JamesNK/Newtonsoft.Json/pull/1828
I thought this issue was fixed with a linker configuration change - https://github.com/mono/mono/issues/8872

Can you double check that this fix is shipping with Blazor so it Just Works for users.

[2018-09-16 20:28] JohnyL opened #1434 "Error when using C# code in onclick handler of button"
I am new to Blazor and I liked it very much. I want to put my time into learning it, so I began from beginning. :)
I was watching [this video](https://youtu.be/MiLAE6HMr10?t=2193) and was trying to set C# code for `onclick` handler of `button`. However, I receive error:

Here's screenshot of TodoList.cshtml:
![IMG1](https://8hnsoa.am.files.1drv.com/y4mMvxGjcz63kZWfLdKyhpaqEpvmtOfc49NYMVRkUFQuc4ZhU

[2018-09-16 20:42] lohithgn commented on #1434
Hi, the right code is as below
[code]
Having said that - i would create a handler and let the handler add the new item. That way it makes it a clean seperation of markup and logic.

[code]
Take a look at www.blazor.net/community for many samples/demos created by the community. I recently created a sample called "Blazor Examples". It show cases simple to complex concepts in Blazor. You can find it

[2018-09-16 20:48] lohithgn commented on #1432
You need to select ASP.NET Core 2.1 in the project template selection dialog.

[2018-09-16 21:27] Andrzej-W commented on #1434
Hi @JohnyL
First I would like to say that it is probably not a good idea to have relatively complex code embedded directly in HTML (Razor). Here https://blazor.net/docs/tutorials/build-your-first-blazor-app.html#build-a-todo-list you can find an example Todo application with step by step instructions.

It looks that @lohithgn has just posted an answer. I will add some more info.
1. If you want to

[2018-09-16 21:29] lohithgn commented on #1434
@Andrzej-W Thanks :) trying to make Blazor as easy & simple as possible 👍

[2018-09-17 05:48] kant2002 opened #1435 "Intellisense or language service error"
1. have `<td></td>`
2. Put caret between `<td>|</td>`
3. Press Enter
4. Type `@if (` fast. After typing `(` the additional `if` appears.

![image](https://user-images.githubusercontent.com/4257079/45607604-5c735a80-ba6f-11e8-9e8e-81bb72d43589.png)

[2018-09-17 07:18] PeskovV commented on #1421
Hi!
I have started use app.Map. My code:
Srever Startup.cs:
[code]
Client index.html:
[code]
I change base path.

Client Index.cshtml - method OnInitAsync
[code]
When I start my app, I get error
![screenshot_1](https://user-images.githubusercontent.com/26106827/45609742-db619680-ba61-11e8-87bc-1e7c6cb6602d.png)

When i use root whithout "/schedule" all is OK, but when i use this root, i've been st

[2018-09-17 07:41] PeskovV commented on #1421
@SteveSandersonMS  Thank you, very much!

[2018-09-17 09:18] SteveSandersonMS commented on #1420
That's great to hear, @NTaylorMullen! So hopefully this will be relatively straightforward when we or someone in the community gets round to implementing it.

[2018-09-17 09:51] JohnyL commented on #1434
@Andrzej-W, @lohithgn Guys, thanks for such a thorough explanations! :) What I was concerned is that syntax in video doesn't match up with the one you provided. Were there some changes in syntax? 🤔

[2018-09-17 10:28] JohnyL commented on #1432
@lohithgn Thanks! I figured out myself :)

[2018-09-17 11:07] stsrki opened #1436 "HttpClient response headers are empty"
I'm trying to read custom headers from the HttpResponseHeaders using the following code.

[code]

Helper classes:
[code]

I can see the headers in **Postman** and the code works when I run it in **ConsoleApp** without any problems. But in **Blazor** the `response.Headers` are always missing. The only value that I can get is Content-Type.

Is there any way that I can get custom headers with the Htt

[2018-09-17 12:09] samuelcavendish commented on #1411
@danroth27, removing the global.json didn't make any difference, however, installing the 2.1.302 version fixed it. Thanks!

[2018-09-17 12:36] uwefms opened #1437 "negative route parameter not allowed"
Having the following route:

@page "/sendemail/{RoomName}/{RoomId:int}"

I get the following error:

Uncaught (in promise) Error: System.InvalidOperationException: 'Router' cannot find any component with a route for '/confirmemail/2.01/-1'.

when trying to send a negative RoomId.

No Problem with positive Ids or 0

[2018-09-17 12:40] vertonghenb commented on #1412
Well, after some debugging I found the issue.

When you have a dynamic component and setting the `RenderFragment ` to `NULL `of that component and trigger a `StateHasChanged `on the parent component, it will throw the error `No element is currently associated with component {ComponentId}`

I'm not sure if this is expected behavior but atleast this will trigger the issue.

[2018-09-17 13:05] SteveSandersonMS commented on #1412
Thanks for confirming!

It sounds like this is not a bug, but if you have a code sample to share that triggers the error, I could give a more precise answer.

[2018-09-17 15:11] rynowak commented on #1435
Thanks for the report, I will take a look at this.

[2018-09-17 16:17] Andrzej-W commented on #1434
Note that this video is more than 1 year old. First public version of Blazor was published at the beginning of 2018. Syntax presented above is valid in Blazor 0.5.1 (current version). If you like videos you can watch this one: https://channel9.msdn.com/Events/dotnetConf/2018/S207 recorded a few days ago.

[2018-09-17 16:17] davidbmasterson commented on #1428
did you wait after your change as I have found that sometimes it takes a long time to recompile the files and have had to wait  over 30 seconds for the change to be reflected in the browser.

[2018-09-17 16:32] Andrzej-W commented on #1437
Are to trying to open page:
`/sendemail/2.01/-1`
and error says that it cannot find
`/confirmemail/2.01/-1`
?

[2018-09-17 17:00] JohnyL commented on #1434
@Andrzej-W I liked initial syntax more. 🙂 Thanks for video! I hope Blazor will make into its Release state. 😊

[2018-09-17 17:08] danroth27 opened #1438 "Tooling exception after copying component .cshtml file for component"
Environment:
Visual Studio 2017 15.8.4
Blazor 0.5.1

Repro steps:
- Create new Blazor app
- Copy and paste Counter.cshtml to create a new page in the Page folder
- Rename the new page to Test.cshtml
- Edit Test.cshtml

![image](https://user-images.githubusercontent.com/1874516/45638242-7c9c1d00-ba61-11e8-944d-25ccec53c20f.png)

[ActivityLog.zip](https://github.com/aspnet/Blazor/files/2389534/Activ

[2018-09-17 17:18] Andrzej-W commented on #1437
I can confirm that negative integer (and long) dosn't work.
**This is a bug in Blazor - read below**
I created this simple page:

[code]
and these links on main page
[code]
First one works as expected, second one throws.
Please note there is no problem with leading dash in the `RoomName` segment.

Bugs are here
https://github.com/aspnet/Blazor/blob/master/src/Microsoft.AspNetCore.Blazor/Routing/Ro

[2018-09-17 17:19] danroth27 commented on #1437
I'm able to reproduce this as well.

[code]

[2018-09-17 17:20] danroth27 commented on #1437
[code]

[2018-09-17 17:30] danroth27 commented on #1428
@tezine Any errors showing up in the browser console? Also, when you manually build the app do you get any build failures?

[2018-09-17 17:30] rynowak commented on #1438
This should go to VSFeedback - this is a WTE issue:
[code]

[2018-09-17 17:31] rynowak commented on #1438
This happens when WTE is not able to create a contained language buffer - in this case it looks like the project system didn't process the rename

[2018-09-17 17:52] footysteve opened #1439 "Blazor source, a little advice needed."
Hi

I'm looking into seo with Blazor. At the moment google & co don't appear to work well with WebAssembly apps.

![Google Indexing](https://github.com/footysteve/blazor.space/blob/master/images/blazor-seo.jpg)

Looked at some seo related posts here, #24 for example. I think, maybe, I might have a practical and efficient solution though I'm still getting to know the internals of wasm/mono.

I've d

[2018-09-17 18:35] KristianJakubik commented on #1437
Hi, this looks intuitive. Can I take it as my first issue to this repository.

[2018-09-17 19:17] tezine commented on #1428
Hi @danroth27 , no errors displayed.
I just found out that when I add the line below in the project, it works when I press F5:
[code]
But I have to execute the project using the command line:
[code]
It would be nice to have **auto reload** and without `dotnet watch run`

[2018-09-17 19:48] NTaylorMullen commented on #1420
It always binds; however, in the case that you say "WithoutEndTag" and you provide an end-tag, an error gets created.

[2018-09-17 20:28] tezine commented on #1428
Hi @danroth27 ,
It's just the default blazor template with Home, Counter and Fetch Table pages.
I'm using Visual Studio 15.9.0 Preview 2.0.
Using IIS Express or without it give me the same issue.

[2018-09-17 20:29] Eilon commented on #335
Yes, what Kestrel did in that old commit is fine. It just needs to be in a place where a person can find it. There's definitely no need to "accept" it because it's *not* part of the license. It's just providing attribution to other projects.

[2018-09-17 20:37] danroth27 commented on #1411
@samuelcavendish Before installing 2.1.302 did you have any other .NET Core SDK versions installed in the 2.1.3xx range? Can you share with us the output of `dotnet --info`?

[2018-09-17 20:37] stsrki commented on #1436
This is my client code that works only when I connect to the API on localhost:
[code]

But it's still not working when I try to connect to my production API. I have tried everything I can think of. Currently I have this in my REST API project.

[code]

// and in Configure()
`app.UseCors( "CorsPolicy" );`

I have also tried to set specific origins(`WithOrigins`), and headers(`WithHeaders`), but not

[2018-09-17 20:38] danroth27 commented on #1411
I'm trying figure out how you even got past the project creation step. If you don't have a .NET Core SDK version installed that satisfies the constraint in the global.json file then typically get an empty solution.

[2018-09-17 20:39] danroth27 commented on #1432
We'll look at doing templates for 2.2 once it ships. I'm going to reopen this bug so we can use it to track this work.

[2018-09-17 20:51] rynowak commented on #1420
womp womp

[2018-09-17 21:02] danroth27 commented on #1436
@stsrki Take a look at https://docs.microsoft.com/en-us/aspnet/core/security/cors#set-the-exposed-response-headers and see if it helps.

[2018-09-17 21:34] danroth27 commented on #1428
Unfortunately I'm not able to reproduce this. I have VS 2017 15.8 Preview 2 with Blazor 0.5.1. I have .NET Core SDK 2.1.302, but I can't imagine that would make a difference.

@SteveSandersonMS Is there a way to track down the cause of an autobuild failure?

[2018-09-17 22:33] danroth27 commented on #1433
Hi @JamesNK.

We had originally planned to relax our IL linker config to link less stuff so that Json.NET would just work, but that has the downside of significantly growing the app size. Instead, the mono folks are working on some runtime changes to [how LINQ expressions are handled](https://github.com/aspnet/Blazor/issues/1316#issuecomment-421060433) that we hope will address the issue.

@marek-

[2018-09-17 22:33] #1433 closed

[2018-09-17 22:43] danroth27 commented on #1425
Could you please build the project by running `dotnet msbuild /bl` from the project folder and share the generated *msbuild.binlog* with us?

[2018-09-17 22:51] zfilipov commented on #1298
I added the package reference to all CSPROJ files for Microsoft.AspNetCore.Razor.Design 2.1.2 but I still get the same error. I am trying to do this through a TFS Build Definition. Any other ideas for this error? As @Mitch528 said, building this with MSBuild works fine, but the dotnet build command throws this error. We are writing a web application using Razor Pages and Razor Libraries.

**C:\WIN

[2018-09-17 23:11] danroth27 commented on #1431
Looks like a potential issue with the IL linker. Moving to mono.

[2018-09-17 23:12] danroth27 commented on #1431
This issue was moved to mono/mono#10653

[2018-09-17 23:12] #1431 closed

[2018-09-17 23:13] NTaylorMullen commented on #1420
Ah, so you want it not to create an error and have a default experience of no end-tag I assume?

[2018-09-17 23:13] danroth27 commented on #1431
To work around the issue you can try disabling IL linking: https://blazor.net/docs/host-and-deploy/configure-linker.html#disable-linking-with-an-msbuild-property

[2018-09-17 23:32] danroth27 commented on #1430
A couple of things:
- Make sure you have .NET Core SDK 2.1.302 installed, or remove the default global.json from your project
- Blazor doesn't support attaching the debugger from VS, so you need to run without debugging (Ctrl-F5)
- Make sure you have the correct base URL specified using the `<base>` element in your *index.html* file

More docs on hosting in IIS here: https://blazor.net/docs/host-a

[2018-09-17 23:32] #1430 closed

[2018-09-17 23:33] rynowak commented on #1420
Blazor creates something similar to the DOM, it's not a meaningful distinction since we're not rendering text directly.

[2018-09-18 02:06] kunalspathak commented on #1431
Thanks @danroth27 . I will give it a try and see.

[2018-09-18 05:59] stsrki commented on #1436
That actually worked!! Both client call examples work. I cannot believe that I didn't see it before in the documentation. It's always something stupid like this :)

Thank you!!

[2018-09-18 09:03] SteveSandersonMS commented on #1428
From the phrasing (e.g., "auto reload"), it sounds like @tezine wants/expects the browser to refresh automatically when saving changes to source files. That's not what we do currently. We might do in the future but the implementation isn't trivial.

As @danroth27 was trying to clarify with his suggested steps, it's necessary to F5 in the browser after saving changes to source files. This should tr

[2018-09-18 10:08] SteveSandersonMS commented on #1439
For the WebAssembly hosting model, the flow is roughly:

* Client-side JS code starts up the Mono runtime and executes the program entrypoint
* This goes through a setup process calling your `ConfigureServices`, `Configure`, etc., and then internally instantiates a `BrowserRenderer` and tells it to add one (or more) of your app's components
* The `BrowserRenderer`:
    * Gives an ID to the compone

[2018-09-18 10:08] #1439 closed

[2018-09-18 10:11] SteveSandersonMS commented on #1437
Thanks for reporting it! Yes, should be a good first issue. Thanks for your interest, @KristianJakubik!

[2018-09-18 10:12] #1436 closed

[2018-09-18 11:03] samuelcavendish commented on #1411
@danroth27 it looks like I had a preview version: 2.1.300-preview1-008174

[2018-09-18 11:35] tezine commented on #1428
Hi @SteveSandersonMS and @danroth27 , to clarify:
I'm using the standalone blazor template. Follow the files attached. I had to add the `<Watch Include="**\*.cshtml"/>` and use `dotnet watch run`. That's the **only** way I found to show the changes after Ctrl+F5.

If I simply execute the project from Visual Studio using IIS or dotnet run, the changes are not reloaded after Ctrl+F5. Whenever I pres

[2018-09-18 11:56] SteveSandersonMS commented on #1316
Another update: while experimenting, I found that because our existing linker build logic passes *all* of the user assembly paths to the linker explicitly (via `-a assembly.dll`), in effect we already don't link out code from user assemblies. If we do want to link out code from user assemblies, we need to change this to `-d <dir_containing_assembly>` for each user assembly other than the entrypoin

[2018-09-18 11:57] SteveSandersonMS commented on #1316
Since it's now clear that the original idea of "don't link user assemblies" is not even meaningful (since that's already the case), I'm going to close this.

[2018-09-18 11:57] #1316 closed

[2018-09-18 13:45] kwaclaw opened #1442 "Webcomponents"
Webcomponents are part of the HTML standard. They are custom tags recognized by the browser directly.
One can write them with Javascript or TypeScript.

Both Vue and Angular support the creation of web components, Vue through their "web-component-wrapper" and Angular through "Angular Elements".

Can I write webcomponents with Blazor? Preferably in a direct fashion like with Javascript, not indirec

[2018-09-18 14:39] kunalspathak commented on #1431
It worked. Thanks once again.

[2018-09-18 16:10] danroth27 commented on #1316
@SteveSandersonMS Sounds good. Thanks for investigating!

[2018-09-18 16:27] danroth27 commented on #1411
Ah, ok, makes sense.

[2018-09-18 16:44] gthvidsten opened #1443 "Blazor in self hosted OWIN on .NET Framework"
I have a service written in .NET Framework that hosts its own webserver using OWIN. Having read about Blazor, I want to start experimenting with it and try to host a Blazor webapp in this service.

However, I haven't found any good instructions on how to do self-hosting with Blazor, especially not on OWIN and .Net Framework. I'd really like a native solution, and converting my solution to .NET Cor

[2018-09-18 17:06] Suchiman commented on #1443
The Blazor build produces a dist directory which just needs to be served through the StaticFiles middleware.
Without having tried anything on my own, i would imagine that this should just work (TM) if you use
`app.UseStaticFiles("../relative/path/to/dist/");`
I don't see a reason why the blazor project would need to be a in a different `.sln`

[2018-09-18 17:15] kant2002 opened #1444 "Rename of the variables does not works"
1. press Ctrl+R, R in the Blazor component view (Client-side)
2. start typing to rename variable
Variable name does not changed in the editor, but some indication in the refactoring view helper

![image](https://user-images.githubusercontent.com/4257079/45703842-3d6fe800-bb97-11e8-8300-cab57d6f8f9b.png)

[2018-09-18 17:52] Suchiman commented on #1444
I'd guess that's another case of https://github.com/dotnet/roslyn/issues/18277 😞

[2018-09-18 18:01] kant2002 commented on #1444
Very likely. Never know about that issue, but possible. Since I never rename in Razor, I may miss that in regular MVC/Core applications

[2018-09-18 18:33] wanton7 commented on #1222
Our company would use server side Blazor for some of our internal tools if there was even simple reconnect support. That would only supports single server and keeping state in memory with timeout.

[2018-09-18 20:40] ChrisSfanos commented on #335
Agree with @Eilon - typically in the same folder/location as the license file(s) is optimal

[2018-09-18 20:44] Eilon commented on #335
BTW in the case here the license is just a link, it's not embedded, so it can't be in the same folder. But somewhere in the NUPKG is fine, ideally ending up on disk expanded wherever the NuGet store is on disk. It doesn't need to go to the user's *project*.

[2018-09-18 21:02] SteveSandersonMS commented on #335
Great - that's exactly how we've done it in #1441. It is a file in the `.nupkg` but not in any way that interferes with the build or shows up in consuming projects.

[2018-09-18 22:44] KnottStudios opened #1446 "Select is having issues"
VS 2017 15.8.4
<Select> causes a page not to load.
Tested with code directly from this github site.
See attached file.
![snippet](https://user-images.githubusercontent.com/17166749/45720595-6af26c80-bb6a-11e8-8eea-490012f7beae.PNG)

[2018-09-18 22:45] KnottStudios commented on #1446
![snippet](https://user-images.githubusercontent.com/17166749/45720631-878ea480-bb6a-11e8-8a8d-b249ae95cbbe.PNG)

[2018-09-18 22:51] footysteve commented on #1439
Brilliant thanks for such detailed info, Steve, appreciated. I'll see what I can come up with. Thanks!

[2018-09-18 23:16] danroth27 commented on #1446
I think you're hitting a naming conflict with the HTML `<select>` element and your `select.cshtml` component. For each component file we generate a component class that has the same name as the name of the file. You can see that the `<select>` element is showing up as purple, which means Blazor thinks it's a component instead of a normal HTML element. Try renaming `select.cshtml` to something else

[2018-09-18 23:16] #1446 closed

[2018-09-19 04:07] Thaina commented on #111
https://github.com/BlazorExtensions/Canvas

[2018-09-19 09:16] conficient commented on #610
I'd just run into this bug trying to create bootstrap form components. It looks like anything in a RenderFragment doesn't seem to work, even with `StateHasChanged` being fired.

My test repo: https://github.com/conficient/BlazorBug01

There are two different problems here: first, a `bind` inside a parent RenderFragement only binds when it's accessed, and a `bind-{propertyName}` does not seem to fi

[2018-09-19 12:32] SteveSandersonMS commented on #1443
Thanks for answering, @Suchiman!

Yes, serving it as static files should be fine. You might also want to implement some middleware of your own to handle the SPA fallback routing (e.g., so a request for `/anypage`) is handled by serving the `index.html` file if it doesn't match a file from the `dist` directory.

[2018-09-19 12:32] #1443 closed

[2018-09-19 12:34] SteveSandersonMS commented on #1442
We don't currently have a specific mechanism for that, though if you are interested in coming up with a design for how it should work we'd be happy to consider it. Thanks!

[2018-09-19 12:34] #1442 closed

[2018-09-19 13:11] awesomeaaron opened #1449 "Authentication / Authorization for server side Blazor"
Hi,
I would like to implement authentication/authorization for a server side Blazor app. For MVC app, we use session/cookie and for api we can use oauth / openid. What is the preffered way of doing authentication / authorization for a server side Blazor app.

[2018-09-19 13:17] SteveSandersonMS commented on #1449
You could either:

* Use authentication to control access to *all* routes to your server (with the exception of login pages, which might be rendered server-side rather than as a Blazor app). Traditional session/cookie methods will work.
* Or, use authentication to control access to API endpoints only. This is more typical for SPA-type apps, whether it's Blazor or React or Angular or anything else

[2018-09-19 13:17] #1449 closed

[2018-09-19 15:47] panesofglass opened #1450 "Unable to create Blazor app with fsproj"
I've attempted to create an all-F# Blazor app with each release, but it seems that the current solution requires a `csproj` and expects all files to be C#. I suspect this is because the Blazor tooling is inspecting the solution to find `.cshtml` files and generate the `.g.cs` files the compiler will use. I've built a F# renderer, [Trail](https://github.com/panesofglass/trail), that doesn't require

[2018-09-19 17:03] kaby76 commented on #1401
Same problem here. After creating the application through VS, change the file "global.json" in your solution directory to use the SDK version you have installed. E.g., for 2.1.402,
`{
  "sdk": {
    "version": "2.1.402"
  }
}
`
And now the "Hello World" example works. -K

[2018-09-19 18:15] mercersoft opened #1451 "JsonConvert.SerializeObject fails"
I am trying to serialize a simple class to JSON (using Newtonsoft.JSON) using the code below, but the request fails with the following error:

**WASM: [Newtonsoft.Json.JsonSerializationException] Error setting value to 'Name' on 'Blazor1.Client.Pages.Index+Foo'.**

I have added the following block to the default Blazor (0.5.0) Project:

[code]

[2018-09-19 18:33] danroth27 commented on #1451
There currently are issues with using Json.NET in a Blazor app due to how we use the IL linker to try to strip out unused code. Can you try disabling the linker and see if that fixes the issue for you? In your project file add `<BlazorLinkOnBuild>false</BlazorLinkOnBuild>`.

We are working with the mono runtime time on a better long term fix for this issue.

[2018-09-19 20:14] danroth27 commented on #1450
@panesofglass Can you walk me through the steps you are trying and describe what specifically doesn't work?

I believe that's unrelated. Blazor doesn't generate any WebAssembly files currently (although an AoT compilation story to WebAssembly is something we're investigating with the mono team). The WebAssembly for the .NET runtime is prebuilt and packaged with the Blazor framework. Blazor project

[2018-09-19 20:54] mercersoft commented on #1451
Thanks - that did the trick! Looking forward to a long term fix. How do I find out if/when it is fixed?

[2018-09-19 22:54] OmarTawfik opened #1452 "Microsoft.JSInterop.d.ts not available"
I looked through the codebase, npm, and nuget, but couldn't figure out where it is published to.
I want to write my client side interop in TypeScript, and I want to refer to `DotNet.invokeMethod` and other functions in that file, but I cannot figure out where to reference the `.d.ts` from. Is that a WIP?

https://github.com/aspnet/Blazor/blob/0.5.1/src/Microsoft.JSInterop/JavaScriptRuntime/src/Mic

[2018-09-20 01:55] rynowak commented on #1450
I'm not sure exactly what you're asking for help with, but `.cshtml` files require a `.csproj` and that will be the case for the foreseeable future.

Blazor generates C# files during the build, and those files are compiled into an assembly with other C# files in the same project. If you're trying to create an all F# Blazor app, you'll need to forego `.cshtml` entirely, or put in a project that you

[2018-09-20 12:41] RyoukoKonpaku commented on #1452
It's still not done yet. You can track the issue here #661. For now what I do is generate custom ```d.ts``` for it for now since I myself use Typescript for interop as well.

[2018-09-20 14:30] SteveSandersonMS commented on #1452
As @RyoukoKonpaku mentions, it's not yet published. It will go onto NPM (since it's a JS package), and will include TypeScript typings in the conventional way so you don't have to install any `.d.ts` file manually. As it happens, #661 is really for a different matter though (typings for the Blazor APIs rather than the Microsoft.JSInterop ones).

As a stopgap measure, you can clone the https://gith

[2018-09-20 14:30] #1452 closed

[2018-09-20 15:16] SteveSandersonMS commented on #1451
@mercersoft Each release is published with release notes. When Json.NET works out of the box (hopefully in 0.7.0), we will definitely mention that.

[2018-09-20 15:16] #1451 closed

[2018-09-20 16:42] alfkonee opened #1454 "Cannot Inject HttpClient in ServerSide Mode"
Is it possible to inject the IUrlHelper and HttpClient in the ServerSide Rendering Mode of Blazor cuz everytime I try to do so I get this Error

[code]
if it's not possible could you provide a method as to how we cn make http calls and get an Insatance of the UrlHelper when using server side rendering

[2018-09-20 16:57] danroth27 commented on #1454
@alfkonee With server-side Blazor you can just create a new HttpClient and call whatever HTTP endpoint you'd like, just like you would from an MVC or Razor Pages app. If you want to manage HttpClient instances using DI, you can use the new [IHttpClientFactory](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests) support in ASP.NET Core.

You don't typically need the `IUriHelper

[2018-09-20 16:57] #1454 closed

[2018-09-20 17:45] panesofglass commented on #1450
@danroth27 yes, I'll create a branch in https://github.com/panesofglass/trail soon that will show what I've tried so far.

@rynowak I am not using cshtml but generating the target render tree from F#, e.g.

[code]

[2018-09-20 17:56] rynowak opened #1455 "Consider splitting up AddAttribute functionality for elements/components"
Based on: https://github.com/aspnet/Blazor/pull/1453#discussion_r219171895

We have a bunch of overloads of `AddAttribute` but we could potentially reduce runtime complexity by making more decisions at compile time based on whether we're operating on a component or an element.

[2018-09-20 18:00] rynowak commented on #1450
Ok, so if there's a specific problem that we can help - could you provide more information?

[2018-09-20 18:29] panesofglass commented on #1450
It seems without the `Microsoft.AspNetCore.Blazor.Build` reference, the `*.blazor.config`, `dist` folder, etc. are not generated. However, that reference appears to expect a `.csproj` and C# files.

[2018-09-20 18:36] rynowak commented on #1450
Alright thanks, I'll take a look at this and see what the problem is.

[2018-09-20 19:45] rynowak commented on #404
Done:
b2c8b1aec98e65054c590d356fdf15e6a5e6a822
409026c2f41926d85d18ea2abf345453fa083e34
ce11f517d370b501433a62a56fbd4be1704000ad

[2018-09-20 19:45] #404 closed

[2018-09-20 20:32] rynowak commented on #1399
@mrpmorris - does your problem match @Liander 's description? It would be great to get an example of the file that's open when it crashes.

[2018-09-20 21:27] #1450 closed

[2018-09-20 21:27] rynowak commented on #1450
Fixed for the 0.6 release

[2018-09-21 01:27] panesofglass commented on #1450
Thank you, @rynowak!

[2018-09-21 01:46] panesofglass commented on #1450
I just want to add that I am delighted you took the time to investigate and resolve this issue. Thank you very much!

[2018-09-21 01:57] rynowak commented on #1450
Thanks!

If you want to experiment with unblocking with this locally, you can hack your RazorCompilation.targets to improve this check https://github.com/aspnet/Blazor/commit/5df4eef30497bf13217312b250b247bc83994a9e

If you run into any other issues let us know.

[2018-09-21 03:51] jvelezc opened #1458 "As I am configuring things I am wondering where I should store variables in server side blazor project"
Could you provide guidance on how to store variables.

For example: I ended up putting a appsettings.json on the client side project and using IConfiguration and then just doing
[code]

At startup.cs. But should I have put this on Server project. Should there be a "blazor way" to store configs?

[2018-09-21 07:45] RyoukoKonpaku commented on #1458
The way I do it at the moment is through embedding the config to the ```ClientApp.dll``` using MSBuild. See #1152 for how I do the embedding and also how others have are doing it at the moment.

[2018-09-21 11:39] SteveSandersonMS commented on #1458
@jvelezc What you're doing is totally fine. ASP.NET Core's configuration system lets you combine config sources from multiple locations, so if you want to have some config files in your Blazor app project, that's the way to go.

@RyoukoKonpaku I think @jvelezc is asking about server-side apps, so embedding the resource isn't required.

[2018-09-21 11:39] #1458 closed

[2018-09-21 11:47] emelhu opened #1459 "base class, public/private parameter"
![1](https://user-images.githubusercontent.com/7081135/45879252-0fabbe80-bda4-11e8-8cd5-7049b2383079.jpg)
![2](https://user-images.githubusercontent.com/7081135/45879256-13d7dc00-bda4-11e8-8c0b-c22c0b30c9ef.jpg)

### **Only a warning, but.._**.

[2018-09-21 13:05] raddevus commented on #916
I just successfully built from the Visual Studio Blazor template, running :
Microsoft Visual Studio Community 2017 Preview
Version 15.9.0 Preview 2.0
VisualStudio.15.Preview/15.9.0-pre.2.0+28107.0
Altered my global.json to use 2.1.401 and rebuilt and ran, but I still get the same error:
HTTP Error 502.5 - Process Failure
Finally, I noticed that when I did the build the first or second line in the

[2018-09-21 13:19] monterolebronhg commented on #1459
Marking the parameter as protected will help you.
I think the code analyzer should suggest to mark the parameter as protected instead of private.

[2018-09-21 14:24] tezine opened #1460 "[Question]: Is it possible to use Angular Elements inside Blazor?"
Hi, Blazor is a wonderful project but since it's on early stages it lacks many components already available for Angular (or others).
Since Angular allows to pack components as Custom elements ( [info](https://angular.io/guide/elements) ), I wonder if it's possible to reuse them inside a Blazor standalone web app. This would be great since we wouldn't have to create components from scratch all the

[2018-09-21 14:34] RyoukoKonpaku commented on #1458
Ah I see then yes it's not required since it's essentially a normal netcore app.

[2018-09-21 14:38] vertonghenb commented on #1459
There is a code snippet to create parameters, so you won't get this issue in the future:
`para > tab > tab`

[2018-09-21 15:31] sven5 commented on #1458
@jvelezc
I also try to use appsettings.json for a server-side Blazor app. I'm using the same code as you but I get an error:

What could be missing?

Thanks
Sven

[2018-09-21 15:47] #335 closed

[2018-09-21 17:08] SteveSandersonMS commented on #1460
This is not something we have a feature for, but you can use JS interop to call out to arbitrary JS libraries. I’d be interested if you were able to make something along these lines work in a conve

[2018-09-21 17:08] #1460 closed

[2018-09-21 17:09] SteveSandersonMS commented on #1459
Thanks for the answers!

[2018-09-21 17:09] #1459 closed

[2018-09-21 19:54] uwefms opened #1461 "displaying / downloading pdf in server-side blazor"
Is there a way to display a pdf file in server-side blazor like I can do in client-side blazor in a controller like:

       [HttpGet]
        public IActionResult CreatePDF()
        {
            var globalSettings = new GlobalSettings
            {
                ColorMode = ColorMode.Color,
                Orientation = Orientation.Portrait,
                PaperSize = PaperKind.A4,

[2018-09-21 19:54] #1399 closed

[2018-09-21 19:55] rynowak commented on #1399
https://github.com/aspnet/Blazor/pull/1457 Fixed for 0.6

[2018-09-21 20:29] #1298 closed

[2018-09-22 02:47] srowan commented on #1223
Seeing this as well...  It's not limited to just the navlink.  Other simple bindings can fail to update as well, and it's fairly easy to reproduce.

Seems to be some kind of timing issue.

[2018-09-22 03:22] carlosalcantara2668 opened #1462 "onkeypress (Backspace) does not work in the following browsers: Chrome and Edge , but it's working in MOZILLA FIREFOX"
what is working in mozilla,

Backspace
Backspace
Backspace
ArrowLeft
ArrowUp
ArrowDown
ArrowRight
ArrowLeft

![keyboar](https://user-images.githubusercontent.com/16179281/45912802-229aaf00-bdf5-11e8-8810-ca0050d14489.JPG)

@using Microsoft.JSInterop

Type here: <input onkeypress=@OnKeyPressed />

<ul>
    @foreach (var key in keysPressed)
    {
        <li>@key</li>
    }
</ul>

@functions {
List<

[2018-09-22 03:41] panesofglass commented on #1450
This works great! Thanks again, @rynowak!

[2018-09-22 11:11] emelhu commented on #1459
Thanks!

[2018-09-22 11:24] BenjaminLinus1964 opened #1463 "Code obfuscation in Blazor"
The code obfuscation helps us convert source code into completely unreadable form, preventing it from analyzing and theft etc. What tool or approach offers Blazor? Thanks in advance.

[2018-09-22 13:47] Lupusa87 commented on #1463
I am interested too, I had case in the past when I wanted to protect source code from disassembling and this was very sensitive.
This is not relevant for Server Side Blazor because code never reaches client but for Client side blazor I would love to have option to protect my app's code form anyone's eyes.

[2018-09-22 14:32] RyoukoKonpaku commented on #1463
If I remember there's a bunch of .Net obfuscator tools out there, it'll probably work at the moment since it's still .Net dlls and when AOT gets done I'd assume if you really want to obfuscate it'll be going through two phases which might make it really hard to disassemble easily.

I'd assume it'd be like this: .Net IL > Obfuscate > AOT > wasm. The result prolly won't be easy to reverse at least c

[2018-09-22 20:33] Liander opened #1465 "Support for an element extension mechanism"
One use-case for having an extension mechanism on existing elements is already given here: https://github.com/aspnet/Blazor/issues/404#issuecomment-413037767, which can be used for form validation and the like. I didn't get any response on that so I will provide a little more extensive description this time to see if there is some interest. This time will be about providing a typed manner for Boot

[2018-09-22 23:41] rynowak commented on #1298
This will be fixed with the new templates in 0.6.

In general you will run into problems when your solution uses multiple versions of `Microsoft.AspNetCore.Razor.Design` - I'd recommend that every project using `.cshtml` files use `2.1.2`.

[2018-09-23 01:34] maxild opened #1467 "Building the repo with v0.5.1 tooling (Microsoft.VisualStudio.BlazorExtension.vsix) installed"
Following the getting started guide, I installed the (latest) v0.5.1 Blazor Language Services extension from the Visual Studio Marketplace.

After creating a few projects with vs2017, I cloned the repo (with submodules)

[code]

But it seems that having installed the v0.5.1 Blazor Language Services extension interferes with the build both using cli (running ```build.cmd```) and building inside vs2

[2018-09-23 04:43] danroth27 commented on #1463
We don't plan to provide built-in support for code obfuscation, but as @RyoukoKonpaku mentioned you should be able to use existing .NET obfuscator tools, since Blazor apps are normal .NET dlls. Hope this helps!

[2018-09-23 04:43] #1463 closed

[2018-09-23 07:34] MBotman opened #1468 "Asp.Net hosted template solution only contains shared project"
When generating a new Blazor project using the "Blazor (ASP.NET Core hosted)" template, a solution is generated with only the shared project in it. The other projects are created but not included in the solution.

Win10, VS2017 15.8.5, dotnet 2.1..402

[2018-09-23 07:37] uwefms commented on #1461
Found out by myself ...
There is no need to send the pdf via

File(file, "application/pdf")

as it is already there where we need it to display.

<embed src="pdf/reservations.pdf" width="100%" height="2100px" />

did the trick. Even better - printing and downloading is provided also.

Closed as beeing no real blazor server-side issue.

[2018-09-23 07:37] #1461 closed

[2018-09-23 10:30] BenjaminLinus1964 commented on #1463
thank you all

[2018-09-23 12:53] bariscanyilmaz opened #1469 "I take an error blazor.boot.json not found"
I create new blazor prıject in serverside asp.net core and i start project it's not working
and
![blazor](https://user-images.githubusercontent.com/30300440/45928195-48849880-bf48-11e8-8f0f-25b3329c86ab.PNG)
i try this solution it is not working. i download blazor project from codeproject. its blazor server version is 0.4 and i run this it is working
can any dody solve this

[2018-09-23 18:50] Suchiman commented on #1467
After some thinking about this message i figured that it's complaining about the `Version` here  https://github.com/aspnet/Blazor/blob/0f01f01ef90dd9c06e591432cfe548e7922eead7/tooling/Microsoft.VisualStudio.BlazorExtension/source.extension.vsixmanifest#L4
If you set it to a version higher than the installed one (e.g. `15.8.0.0`) then the error will go away.
#Contributor Pain

[2018-09-23 19:17] maxild commented on #1467
@Suchiman Thanks. But I am not a VSIX developer, so how ```Version="|%CurrentProject%;GetBuildVersion|"``` gets resolved is a mystery to me. Can you be more specific about how I can up the version to ```15.8.0.0``` in the repo working tree?  Aaahhh....Maybe you are saying that I should just override the version attribute with

[code]

[2018-09-23 19:32] maxild commented on #1467
I am closing the issue, because changing the VSIX manifest file by hand in the repo working tree to 15.8.0.0 > 15.7.x.y  (the version of the v0.5.1 tooling in the gallery) did the trick.

[2018-09-23 19:32] #1467 closed

[2018-09-24 04:48] giangcoi48k opened #1472 "blazor code behind"
Why blazor does not have code behind file, like old style webform or new style razor web pages?

[2018-09-24 04:58] #1472 closed

[2018-09-24 05:36] lohithgn commented on #1472
you can do code behind style with Blazor too. take a look at this example i have created for Blazor - https://github.com/lohithgn/blazor-tour-of-heroes/tree/master/src/BlazorTourOfHeroes/BlazorTourOfHeroes.Client/Pages/Heroes

hope this helps.

[2018-09-24 07:29] isc30 commented on #1420
Is this ticket still up for grab? If yes, I would gladly open a PR

[2018-09-24 10:17] SteveSandersonMS commented on #1420
@isc30 Perhaps @NTaylorMullen or @rynowak could clarify, but my interpretation of their conversation above is that we don't currently have the capability in Razor tooling itself to understand that self-closing tag helpers can *also* allow optional child content (i.e., it will show a false error message if you do that). If I'm right about that, then the first PR needs to go into Razor to add some n

[2018-09-24 14:07] SteveSandersonMS commented on #1469
I'm afraid I don't know what would cause this, as it doesn't happen for me, nor has this been reported before.

Can you check that you have the required version of the .NET Core SDK and other prerequisites? (Note: not newer versions, until we release Blazor 0.6.0) https://blazor.net/docs/get-started.html

[2018-09-24 14:19] SteveSandersonMS commented on #1465
Thanks for the suggestions, @Liander. We'll need to see what other scenarios emerge over time that might tie in with this sort of thing.

In general Blazor doesn't focus massively on the actual HTML representation aspect of the UI (e.g., giving shorthand names to attributes and CSS classes via macros), since that's not usually hugely difficult for the developer anyway. Blazor more focuses on the c

[2018-09-24 14:43] danroth27 opened #1473 "Switch the ASP.NET Core hosted template to use app.UseBlazor<Client.Startup>()"
Currently the ASP.NET Core hosted template points to the `Program` class in the Client project. For consistency with server-side Blazor we should switch it to point to the `Startup` class: `app.UseBlazor<Client.Startup>()`.

[2018-09-24 16:14] SteveSandersonMS commented on #1473
Done in #1476.

[2018-09-24 16:14] #1473 closed

[2018-09-24 16:55] #1437 closed

[2018-09-24 16:56] NTaylorMullen commented on #1420
Correct

[2018-09-24 16:59] SteveSandersonMS commented on #1425
Closing due to lack of info. Hope that's OK.

[2018-09-24 16:59] #1425 closed

[2018-09-25 05:09] tusharparik commented on #1468
Similar issue
![image](https://user-images.githubusercontent.com/4800894/45994000-4426bf80-c0af-11e8-8894-abd260b12043.png)

[2018-09-25 05:29] danroth27 opened #1478 "Blazor server-side project has incorrect version for Microsoft.AspNetCore.Razor.Design"
I created a new Blazor server-side project with the latest dev build from myget, and it looks like the Server project isn't populating the version of the Microsoft.AspNetCore.Razor.Design package correctly:

[code]

[2018-09-25 06:03] rynowak commented on #1478
ON IT

[2018-09-25 06:12] rynowak commented on #1435
Moving this out of 0.6 - I haven't gotten to it yet, and it's likely not an easy fix.

[2018-09-25 06:47] bariscanyilmaz commented on #1469
i check prerequrities and i have .net core 2.1.402
![dotnetversion](https://user-images.githubusercontent.com/30300440/45997300-c8754480-c0a7-11e8-8f0b-775ab6b2b9ab.PNG)
threre is my installled templates
![templates](https://user-images.githubusercontent.com/30300440/45997383-0c684980-c0a8-11e8-807a-a5b1388e07ad.PNG)

[2018-09-25 08:02] SteveSandersonMS commented on #1469
With Blazor 0.5.1 please use .NET Core SDK 2.1.302. The issues with newer SDKs should be resolved in Blazor 0.6.0.

[2018-09-25 08:27] #1478 closed

[2018-09-25 10:09] SteveSandersonMS commented on #1326
@rynowak I've been getting this too and your workaround does fix it for me. Do you know if/when VS expects to fix the underlying issue?

[2018-09-25 12:03] bariscanyilmaz commented on #1469
i uninstall dotnet 2.1.402 and now i have dotnet 2.1.302
![dotnetversion](https://user-images.githubusercontent.com/30300440/46013123-f1133380-c0d3-11e8-8ed1-845aad56f241.PNG)
but i take same error
![blazor](https://user-images.githubusercontent.com/30300440/46013157-1607a680-c0d4-11e8-916b-de236b8728f0.PNG)

[2018-09-25 12:54] tusharparik commented on #1468
Thanks for the help. Will check it today and get back.

[2018-09-25 12:55] MBotman commented on #1468
Hi ZeoxZeos,
Thank you for your answer. I do however not see how this is related to the global.json issue, could you explain? Although it is possible to load the projects into the solution by hand, I still think this is a bug.

[2018-09-25 13:01] #1468 closed

[2018-09-25 14:42] cores-system opened #1480 "TimeZone in Blazor server-side"
Hello, how do I install a single TimeZone in Blazor.Client ?
Blazor server-side 5.1

[code]
**output**:
25.09.2018 0:00:00
2018-09-24T21:00:00Z

[2018-09-25 15:03] SteveSandersonMS commented on #1480
Could you clarify what you're trying to do? Sorry but I'm unsure what you mean by "install a TimeZone".

[2018-09-25 15:59] rynowak commented on #1326
Let me ask what happened to this, it got handed off to one of the VS teams to deal with..

[2018-09-25 16:28] cores-system commented on #1480
@SteveSandersonMS, I'm in `ua-UA`, in order to pass the time through `Json.Serialize(DateTime.Today)` it should have a format `2018-09-25T00:00:00+03:00` instead of `2018-09-24T21:00:00Z`

Writing in mssql `2018-09-24T21:00:00Z` I get `2018-09-24T21:00:00` instead of `2018-09-25T00:00:00`

[2018-09-25 16:33] cores-system commented on #1480
[code]

**output**:
`2018-09-25T00:00:00+03:00` - That's it
`2018-09-24T21:00:00Z` - Wrong

[2018-09-25 17:38] Andrzej-W opened #1482 "Wrong source code formatting in cshtml file"
In any cshtml file write this (note there is no space between `@functions` and `{`):
[code]
`OnInit` function is correctly indented. Now add space between `@functions` and `{` or move `{` to new line (which is more natural C# formatting) and reformat document.
[code]
This time `OnInit` function is not indented which is wrong.

[2018-09-25 23:01] Andrzej-W commented on #1290
I have just made a new test application and it looks that now Edge returns correct values in `key` for braces, punctuation characters and characters above numbers in `keydown` event.
Unfortunately it looks that Edge is totally broken in other areas. Here is a very nice app which shows all information from keyboard events:
https://w3c.github.io/uievents/tools/key-event-viewer.html
In all examples p

[2018-09-25 23:19] Andrzej-W opened #1483 "Wrong data type in UIKeyboardEventArgs.Location declaration"
`UIKeyboardEventArgs.Location` is currently declared as `float` but according to this info:
https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/location
it can contain only one of a few unsigned integer values. I think this property should be `enum`?

[2018-09-26 01:07] tusharparik commented on #1468
Hi ZeoxZeos,
The problem seems to be same when creating project from Visual studio for Blazor Hosted & Server Sider project. But creating in CLI with dotnet new and then deleting the .json file is a workaround found.

[2018-09-26 03:52] danroth27 commented on #1482
Hi @Andrzej-W.

Thanks for reporting this! The formatting in cshtml files is actually not handled by Blazor at all, but it performed by the Razor editor in VS. To get this feedback to the correct team could you please submit this feedback through the VS feedback tool or on https://developercommunity.visualstudio.com/?

Since this issue is really external to Blazor I'm going to go ahead and close.

[2018-09-26 03:52] #1482 closed

[2018-09-26 06:13] danroth27 commented on #1469
It looks like the *blazor.boot.json* file isn't being created correctly for some reason.

Can you share your project with us?

[2018-09-26 07:05] bariscanyilmaz commented on #1469
https://github.com/bariscanyilmaz/blazorIssue my blazor project

[2018-09-26 08:14] mblataric commented on #74
This is brilliant. Please, please support this.
We are trying to find appropriate technology to port our huge and complex financial app and browser just isn’t cut to it and never will be.
Yes, part of app can be in browser, but main parts, massive data entry, connection to devices like scanners, barcode readers, RFID scanners ... browser will never be a platform for such scenarios.
But electron pl

[2018-09-26 10:06] ZeoxZeos commented on #1468
Hi Tushar,
Your suggestion is good one.
But Just to inform you there is 0.6 preview of blazor.
https://github.com/aspnet/Blazor/releases/tag/0.6.0-preview1

The issue is resolved
https://github.com/aspnet/Blazor/pull/1386

Regards,
Zenon Iwanicki
New Tel:00447944648249
SKYPE: zeoxzeos
TWITTER: @ZIwanicki
http://www.linkedin.com/in/zenoni

________________________________
From: Tushar Parik <notifi

[2018-09-26 10:19] SteveSandersonMS commented on #1469
Thanks for posting the repro project.

The reason it's not generating the boot JSON file is that it doesn't compile at all, so you're loading a result of an earlier compilation that doesn't match up with your current sources. When building there are compiler errors such as:

[code]

The reason for these compiler errors is that you've renamed your project since it was first created (from `blazor302

[2018-09-26 10:19] #1469 closed

[2018-09-26 10:30] SteveSandersonMS commented on #1480
The timestamps `2018-09-25T00:00:00+03:00` and `2018-09-24T21:00:00Z` both represent the same moment, so technically they are both correct (the `Z` prefix on the latter means `+00:00`). However I guess you want to format the timestamp using some specific timezone.

Since specific timezones matter to you, you should [use DateTimeOffset instead of DateTime](https://blogs.msdn.microsoft.com/davidrick

[2018-09-26 10:30] #1480 closed

[2018-09-26 10:44] DNF-SaS opened #1484 "Wiped method since 0.6.0-preview1"
Hi,

after upgrading from 0.5.1 to 0.6.0, no Http-Calls via Flurl are possible any more:

WASM: [Flurl.Http.FlurlHttpException] Call failed. Cannot invoke method because it was wiped. See stack trace for details.

What to do?

[2018-09-26 11:02] Suchiman commented on #1484
@DNF-SaS that would happen if Flurl would try to use `HttpClientHandler`. If you got Flurl to work in webassembly, it means that Flurl is still trying to do something with `HttpClientHandler`

[2018-09-26 11:05] DNF-SaS commented on #1484
@Suchiman What does that mean? Flurl is working fine with 0.5.1

[2018-09-26 11:27] Suchiman commented on #1484
@DNF-SaS it means that Flurl is new'ing up HttpClientHandler somewhere even if that's all it's doing.

[2018-09-26 11:33] DNF-SaS commented on #1484
Flurl gets a HttpClientFactory, which passes Blazor's HttpClient into Flurl for use. This approach has worked fine for all Blazor-Versions (including 0.5.1). Flurl has not been changed. So why does it not work with 0.6 any more?

[2018-09-26 11:40] bariscanyilmaz commented on #1469
i change git repo name to blazor302. i command dotnet build and run  but i take same error. https://github.com/bariscanyilmaz/blazor302

[2018-09-26 11:49] Suchiman commented on #1484
@DNF-SaS because the HttpClientHandler is now being wiped (removed) aggressively due to https://github.com/aspnet/Blazor/pull/1382 for considerable space savings.

[2018-09-26 11:52] DNF-SaS commented on #1484
@Suchiman Do you know how to prevent wiping for the HttpClientHandler in this case? It's seems too aggressive.

[2018-09-26 12:03] SteveSandersonMS commented on #1469
Thanks for the update. In that case, I'm afraid there's some other issue that's breaking the dev environment on your machine. When I clone your repo, delete both `bin` and `obj` then rebuild, it works correctly.

If you have any idea what might be causing the problem in your dev environment, or steps to reproduce it on other machines, please let us know. Likewise if anyone else is seeing this plea

[2018-09-26 12:18] bariscanyilmaz commented on #1469
thank you for your effort.

[2018-09-26 12:27] Suchiman commented on #1484
@DNF-SaS it's not too aggressive, it's just Flurl having a dependency on `HttpClientHandler`. I'm afraid there's no way to disable this (the assemblies get wiped when producing the nuget packages)

[2018-09-26 12:58] kant2002 commented on #1420
@NTaylorMullen does there any work/issue in Razor repository which eventually make that happens ?

[2018-09-26 14:30] tmenier commented on #1484
@Suchiman Flurl has a dependency on `HttpClientHandler` in the sense the at targets .NET Standard and therefore assumes that class is available. .NET Standard is supposed to guarantee that it's safe to make that assumption. I don't really know the background on this so correct me if I'm wrong, but Blazor purports to support .NET Core 2.1, but in practical terms it really doesn't, does it? It appea

[2018-09-26 14:34] Suchiman commented on #1484
@tmenier `HttpClientHandler` is not functional in the browser as it relies on native code or sockets. In Blazor, there's a `BrowserHttpMessageHandler` that powers `HttpClient`. Since 0.6, this message handler is also used by default if you create a standard `HttpClient` as in `new HttpClient()`, doing `new HttpClient(new HttpClientHandler())` is unsupported though.
In Theory though, it should be p

[2018-09-26 14:40] tmenier commented on #1484
@Suchiman Perfect. I just spotted `BrowserHttpMessageHandler` myself. Flurl has a hook to easily swap that in for `HttpClientHandler` globally, so that should work. Thanks!

[2018-09-26 15:38] SteveSandersonMS commented on #1484
That is actually what's happening. This is being worked on inside Mono by @kjpou1. We're not ready to take that Mono update in time for 0.6.0 but should be ready in time for 0.7.0. So from 0.7.0, *assuming it doesn't bloat the app size significantly*, we'd aim to deprecate `BrowserHttpMessageHandler` and use the default BCL `HttpMessageHandler`.

Since there's no further action inside Blazor right

[2018-09-26 15:38] #1484 closed

[2018-09-26 16:53] tusharparik commented on #350
Same Issue with me post hosting it on IIS the data in table is not fetched and Console says

blazor.webassembly.js:1 GET http://*.*.*.*:99/api/Employee/Index 500 (Internal Server Error)

blazor.webassembly.js:1 WASM:   at BlazorAppHosted.Client.Pages.FetchEmployee.OnInitAsync () <0x1c99308 + 0x000d0> in <b9a4ee3cad64424d9fadb42f4c9594a2>:0

[2018-09-26 17:31] NTaylorMullen commented on #1420
No there is not

[2018-09-26 17:33] tusharparik commented on #1468
Thanks and noted

[2018-09-26 18:21] tusharparik opened #1485 "App hosted on IIS Win 7 64 Bit not fetching data"
GET http://10.38.63.143:99/api/Employee/Index 500 (Internal Server Error)
WASM: [System.Net.Http.HttpRequestException] 500 (Internal Server Error)
WASM:   at System.Net.Http.HttpResponseMessage.EnsureSuccessStatusCode () <0x1dd3ef0 + 0x0003c> in <57aa4bb7d37e44788da826a3554d708f>:0
WASM:   at System.Net.Http.HttpClient.GetStringAsync (System.String requestUri) <0x1ca4028 + 0x00118> in <57aa4bb7d37

[2018-09-26 20:17] martasp commented on #1428
Hi, you can use auto rebuilt with automatic page refresh. No need to push Ctrl-F5.  I build a demo how to setup : https://github.com/martasp/BlazorLiveReload

[2018-09-27 02:08] danroth27 commented on #1428
Closing as there is no further action on our side.

[2018-09-27 02:08] #1428 closed

[2018-09-27 02:11] danroth27 commented on #1485
It looks like the GET request is returning a 500 server error response. This would indicate a problem with the server endpoint, not an issue with Blazor. I'm going to go ahead and close this, but let me know if I'm misunderstanding something.

[2018-09-27 02:11] #1485 closed

[2018-09-27 03:06] redmisfitx opened #1486 "Browser launches app and immediately closes"
Here is the contents of the output window.

se logs are written to:
C:\Users\redmi\AppData\Local\Temp\vscode-edge-debug.txt
The program '[21268] dotnet.exe' has exited with code -2147450735 (0x80008091).
The program '' has exited with code -1 (0xffffffff).

and here are the contents of the actual vscode-edge-debug.txt

OS: win32 ia32
Adapter node: v6.4.0 ia32
vscode-chrome-debug-core: 6.7.7
11:02:

[2018-09-27 03:07] tusharparik commented on #1485
Agree but using Blazor I am not able to run it using IIS with database response is there any helper options available on usability for same while hosting with IIS.

[2018-09-27 05:51] DNF-SaS commented on #1484
Solution for this issue is on Stack Overflow here: https://stackoverflow.com/questions/52522004/blazor-0-6-0-wipes-flurl-compatibility/52526415#52526415

[2018-09-27 08:11] kant2002 commented on #1435
I think I have another symptom of that seems to me as same issue (at least may be).
1. I want to type `<Icd10Code Code="@c.Icd10Code.Code" Title="@c.Icd10Code.Description" />` in the editor.
2. Previously I have `<Icd10Code Code="@c.Icd10Code.Code" />`
![image](https://user-images.githubusercontent.com/4257079/46132001-d1f4dd00-c25e-11e8-9bdf-9f4a2dccc7d1.png)
3. I start typing, type `Tit` then pr

[2018-09-27 10:22] thangchung opened #1487 "Blazor couldn't resolve footer element"
I created the share component for the footer like

[code]

Then run it. I got the exception in the runtime

[code]

But when I use `div` element, all thing are fine.

[code]

 I just wonder why Blazor didn't resolve the standard `footer` element? Is it a bug?

[2018-09-27 10:30] kant2002 commented on #1487
If that's the case, then you could just rename your `Shared/Footer.cshtml` to `Shared/AppFooter.cshtml` for example, and inside your layout file replace `<Footer` with `<AppFooter` . Looks like code which you post in the `Footer.cshtml` and Blazor confuses the `Footer.cshml` with standard `<footer>` tag.

@SteveSandersonMS I personally experience such issues, and it's kind of confusing in the begi

[2018-09-27 11:06] thangchung commented on #1487
@kant2002 As you said, `Blazor` confused with the component named `Footer`, I changed to `AppFooter`, then it worked. Thank you very much.

[2018-09-27 11:06] #1487 closed

[2018-09-27 11:27] kant2002 opened #1488 "Enhance template with header and footer examples"
I experience at least two cases (one at Gitter, second at GitHub) where people was hit by name resolution mechanism for tags. Header/Footer is common cause right now. I propose modify existing templates with `AppHeader.cshtml` and `AppFooter.cshtml` and put there warnings
1.Why they named such and not just `Header` and `Footer.cshtml`
2. Maybe add link to some documentation page in http://blazor.n

[2018-09-27 12:28] RyoukoKonpaku commented on #1488
If i remember they will resolve this issue by requiring components to start with a capital character just like how component resolution on React works to avoid the problem as well. This way it can determine ```<footer>``` and ```<Footer>``` respectively. #1173 here's the open issue for it and here's a bit more with discussion #1155 for the issue.

[2018-09-27 12:45] andoband commented on #1435
This has nothing to do with your issue and is completely unsolicited, but I just wanted to suggest that instead of having both `Code` and `Title` attributes on your component that you use a single attribute of type Icd10Code.  Then just `<Icd10Code Code="@c.Icd10Code" />`.  The reason being is that if you end up wanting to display another property from the code (say _Notes_ or whatever...I'm makin

[2018-09-27 13:42] redmisfitx commented on #1486
Create the project, built the solution, it builds successfully, then try to run it from visual studio in either release or debug mode. Edge just opens and closes.

[2018-09-27 13:43] kant2002 commented on #1435
@andoband My point here is that somebody eaten up text which I enter. I'm not sure is this Blazor or Razor or VS Core Editor. For me it looks like some race condition happens inside editor in both cases, originally reported, and later observation.

Regarding you suggestion, I found that if I would not couple UI component with data structure, it is easier to me create small testing page which will

[2018-09-27 14:00] SteveSandersonMS commented on #1486
Is it possible you're trying to launch with the debugger (e.g., via F5)? If so, I'd recommend not doing so, as it will take ages to start up and the debugger can't attach to .NET under WebAssembly anyway. We are working on browser-based debugging, but it's not wired up to VS yet. For now it's far faster to launch without debugging (e.g., Ctrl+F5).

[2018-09-27 14:01] SteveSandersonMS commented on #1486
Alternatively disable "Script debugging" in VS:

![image](https://user-images.githubusercontent.com/1101362/46151221-3b2c1e80-c266-11e8-8c87-33b1dd4e1ca9.png)

[2018-09-27 16:25] dlr1 opened #1489 "Template enhancements"
Is there a plan to allow piece of html(though not going to be reused) be declared else where in the page and refer to it by name or id so that the actual html in the body of the page will be cleaner?

ex:
```<Template id="mytemplate1">... </Template>```
Use it like below
[code]

[2018-09-27 16:33] conficient opened #1490 "Blazor component binding not working?"
### Title
Binding of parameters in components not working as expected.

There seems to be something broken in Blazor when using the `bind` attribute or the recommended `bind-{property}` syntax within child content. I originally tested on 0.5.1 and then upgraded to 0.6.0-preview1 to see if anything has changed.

### References
May be related/duplicate of #610

### Functional Impact
Binding when usi

[2018-09-27 16:34] Suchiman commented on #1489
In Blazor 0.6 you should be able to use https://github.com/aspnet/Blazor/pull/1360

[2018-09-27 17:02] dlr1 commented on #1489
I saw you can have some html in a file and use it in another file. This is for those scenarios for reuse. but creating a file for block of html when it is not reused, we will end up creating bunch of files

[2018-09-27 17:07] Suchiman commented on #1489
@dlr1 i don't know if you've looked at the PR description but this allows you to declare a variable that holds a html snippet that you can render (in the same file)

[2018-09-27 17:14] dlr1 commented on #1489
yes, I know you can create a RenderFragment and use that, I was thinking along these lines in angular, all in Html
[code]

[2018-09-27 18:18] daveabrock opened #1491 "Milestones for future releases?"
Do you have a short list/documentation of milestones you are hitting for the next few releases - like 0.6, 0.7, and so on? I am doing some conference talks on Blazor and the information might be useful, if you have it!

[2018-09-27 18:57] danroth27 commented on #1491
Blazor 0.6.0 is pretty much done, so you can look at the release notes for the [0.6.0-preview1 release](https://github.com/aspnet/blazor/releases/0.6.0-preview1) to see what's there.

We still need to do planning for 0.7.0 and beyond but we will be happy to share those plans once they are ready. You can look at our [project backlog](https://github.com/aspnet/blazor/projects/3) to get a feel for wh

[2018-09-27 18:57] #1491 closed

[2018-09-27 20:33] rpedretti commented on #1489
@dlr1,  The only thing that changes from angular is the way you declare the template and the if statement.

[code]

[2018-09-27 20:48] dlr1 commented on #1489
@rpedretti I guess so, Thanks.

[2018-09-27 20:48] #1489 closed

[2018-09-27 21:07] Andrzej-W commented on #1490
I don't have 0.6.0-preview1 installed to test your project, but I see reference to 0.5.1 in your BlazorBug01.csproj file.

[code]
I have no idea if this can be a source of problems, but maybe you should change this to 0.6.0-preview1-final and rebuild your whole project.

[2018-09-27 21:19] Andrzej-W commented on #1490
In BSText component you have this line
[code]
You cannot use `bind` and `onchange` in one element because `bind` uses `onchange` event internally. Read this for a solution:
https://github.com/aspnet/Blazor/issues/1020#issuecomment-399910882

[2018-09-28 00:15] rezabayesteh commented on #698
@vertonghenb I have exactly the same questions about ServerSideBlazor.

[2018-09-28 03:49] redmisfitx commented on #1486
This is the result with Script Debugging disabled.

![image](https://user-images.githubusercontent.com/3180246/46187115-01800580-c2b0-11e8-8b24-10f3ac38b752.png)

[2018-09-28 03:58] redmisfitx commented on #1486
I also see this error in the event log.

The application-specific permission settings do not grant Local Activation permission for the COM Server application with CLSID
{D63B10C5-BB46-4990-A94F-E40B9D520160}
 and APPID
{9CA88EE3-ACB7-47C8-AFC4-AB702511C276}
 to the user SURFACE-PRO3\redmi SID (S-1-5-21-993575205-3112111783-331060636-1001) from address LocalHost (Using LRPC) running in the applicat

[2018-09-28 04:00] jsakamoto commented on #1486
I ran into same problem today.

I tried to remove the 'global.json' file in the project folder, and retry it, then it worked fine.

[2018-09-28 04:02] redmisfitx commented on #1486
That did it. Thanks!

[2018-09-28 07:04] conficient commented on #1490
Thanks @Andrzej-W for the pointers.

1. I've upgraded the Blazor.Cli to 0.6.0-preview1-final.

2. I also removed the `onchange` event, but the same behaviour is present.

I can see from the console that {Value.get} and {Value.set} are both called, but it does not appear to bind to the underlying property `Value3` or `Value6`. Even invoking `StateHasChanged` directly in the `set` does not work.

I'

[2018-09-28 10:09] SteveSandersonMS commented on #1486
Glad you got a resolution!

[2018-09-28 10:09] #1486 closed

[2018-09-28 10:14] SteveSandersonMS commented on #1488
Thanks for the suggestion.

Yes, @RyoukoKonpaku's description matches what I'd like to see as a long-term resolution to this.

In the shorter term, I would not like to complicate the default templates by adding extra `AppHeader`/`AppFooter` components as an indirect way of hinting at the limitation. I know a few people would benefit, but it's also noise that everyone would have to bear, and would

[2018-09-28 10:14] #1488 closed

[2018-09-28 10:15] SteveSandersonMS commented on #1483
Thanks for the suggestion! It sounds good to me. I'll put this as "up for grabs".

[2018-09-28 10:17] SteveSandersonMS commented on #1490
Thanks for reporting this, @conficient!

Yes, I'm almost certain this is the same issue as #610. To keep things organized, if you don't mind I'm going to close this as a duplicate, but I'll also add a prominent notice on #610 that any proposed fix has to account for the scenarios raised in this issue here too (and if it doesn't, then we'll reopen this as an independent issue).

[2018-09-28 10:17] #1490 closed

[2018-09-28 10:19] SteveSandersonMS commented on #610
**NOTE**: When we fix this, we should also check the fix handles the scenarios raised at #1490, and if it doesn't we'll reopen #1490 as a separate issue.

[2018-09-28 11:33] KristianJakubik commented on #1483
Hi, I would like to work on this, if it is possible.

[2018-09-28 13:03] Tarmil opened #1493 "Very long illink command line is missing one character"
I am getting the following error when compiling a project with lots of dependencies:

[code]
Note in the error message: **`Microsot`** instead of `Microsoft`. The full command line as listed does not contain the same typo.

If I reference a different Blazor version, a different character is missing. The above is with version 0.7.0-preview1-20180925.6; if I switch to 0.6.0-preview1-final, then I ge

[2018-09-28 13:08] carlosalcantara2668 commented on #1462
onkeypress does not work in the following browsers: Chrome and Edge

Backspace
Backspace
Backspace
ArrowLeft
ArrowUp
ArrowDown
ArrowRight
ArrowLeft

[2018-09-28 15:33] SQL-MisterMagoo commented on #1317
I found this problem only occurred if I was binding properties in the SVG to variables in my code.
If I just have plain svg on the page, it does not mangle the attributes.

[2018-09-28 15:57] SteveSandersonMS commented on #1493
Thanks for reporting it. It's an underlying and already known issue in MSBuild.

As it happens, I filed a request on the Mono Linker project earlier today asking for a way of working around this: https://github.com/mono/linker/issues/379 So, I'll close this as a duplicate.

Currently the only workarounds are to not have so many dependencies, or to run the build on Linux/Mac, or disable the linker

[2018-09-28 15:57] #1493 closed

[2018-09-28 16:16] rynowak commented on #1493
@SteveSandersonMS  - we avoid this problem (and probably others) by using `ToolTask` from the MSBuild libraries. It has build in support for generating a response file - which of course the exe has to support. Do they have a task that supports IL link directly?

[2018-09-28 17:44] doggy8088 commented on #1395
@danroth27 How to get input value in the `onkeyup` event?  I can't get input value from `UIKeyboardEventArgs` event data.

[2018-09-28 18:16] doggy8088 opened #1495 "Call DOM's methods"
For DOM properties, we can use binding syntax to get/set it.  But for DOM methods, is it possible to easily call to arbitary DOM's method without implementing JS Interop?  Such as calling `focus()` or `blur()` methods of a input element.

[2018-09-28 19:07] rynowak commented on #1326
This will be fixed in 15.9 - I'm not sure if the current public preview has the fix or not.

[2018-09-28 19:38] nvonbenken opened #1496 "Successive calls to StateHasChanged don't seem to work as intended"
I initially began my project following the FlightFinder sample here: https://github.com/aspnet/samples/tree/master/samples/aspnetcore/blazor/FlightFinder

I found my components were not updating properly. I then simplified it to the version I have now, and I still cannot get the loader to display.

My impression was that calling `StateHasChanged` in my `RunTest()` function would reload things but

[2018-09-28 19:38] seancpeters opened #1497 "Issue with multiproject template creation with 2.2 Preview2 SDK"
_From @livarcocc on September 27, 2018 18:37_

@danroth27 commented on [Thu Sep 27 2018](https://github.com/dotnet/sdk/issues/2556)

Repro steps:

1. Install the Blazor 0.6.0-preview1 templates: `dotnet new -i Microsoft.AspNetCore.Blazor.Templates::0.6.0-preview1-final --nuget-source https://dotnet.myget.org/f/blazor-dev/api/v3/index.json`
1. Create a multi-project Blazor hosted template: `dotnet

[2018-09-28 19:45] seancpeters commented on #1497
The reason this is happening is how the primary outputs are setup, for example this:
[code]
Template processing expects forward slashes for all paths, so there's no need to condition them with forward or back slashes based on OS. The above can be rewritten as:
[code]
The same change should be applied for the other .csproj primary outputs.

The reason this causes problems is that during template pr

[2018-09-28 20:03] danroth27 commented on #1497
@rynowak @SteveSandersonMS

@seancpeters To be clear, this template is working fine with the latest 2.1 SDK. It only breaks with the 2.2 SDK. What accounts for the change in behavior?

[2018-09-28 20:09] danroth27 commented on #1497
Regardless, I think we'll need to do something about this for our 0.6.0 release.

[2018-09-28 22:44] seancpeters commented on #1497
@danroth27 - Unfortunately the backslashed paths were an unsupported configuration that happened to work in older versions.

[2018-09-28 23:47] SQL-MisterMagoo commented on #1247
It seems to me that if you Shift-Ctrl-S to save all files before building, it rarely hangs.
If you edit a Razor page and build without saving, then it hangs most of the time.

[2018-09-29 01:54] lqdev opened #1499 "Error when trying to use ML.NET framework"
Because at the moment ML.NET only supports x64 environments, I created a class library with helper methods
to make predictions using a pretrained ML.NET model. The model is stored in Azure Storage as a Blob.

The function I use in the class library takes as input the DTO representing the input to the model in this case `IrisData` as well as the pretrained model as a byte array. The function return

[2018-09-29 02:12] Andrzej-W commented on #1395
@doggy8088 look here for general idea:
https://blazor.net/docs/javascript-interop.html#capture-references-to-elements
This example uses `element.focus()`. You have to create similar JS interoperability for `element.value()`. Of course you have to return `string` from this function. Look at example with `prompt` function in the same doc.

[2018-09-29 10:53] sth349 opened #1500 "Blazor doesn't load"
I'm using Blazor 0.5.0.
I have published the default template but when I launch the index.html chrome just displays "loading" and it never actually loads, normally when I run dotnet run it works but I can't use the static files.
The browser console displays:
[code]
I need the static files as I want to wrap it in a Apache Cordova container, is there a more productive way to do it?

[2018-09-29 10:55] lohithgn commented on #1500
without looking at your code … its not possible to detect whats going wrong.
with the error message you have posted - your CSS is referencing "C:\" path - which is wrong. do make sure you have the right paths to your assets. Blazor although is client side - is still hosted on a server and static assets are all served from server

[2018-09-29 12:27] OzBob commented on #1424
@danroth27 - sorry to bring this up too, but I'm following along with you on Ignite 2018 https://www.youtube.com/watch?v=tAa6fQQ5Ro4 and getting the same error.

Removing the global.json file as you suggest kills the project.

Putting the locally installed hightest SDK version in the global.json works.

@RudyMeijer
I've got dotnet 2.1.3 (not 2.1.300) installed, and am getting the same error, but i

[2018-09-29 13:08] faina09 commented on #1247
yes, it seems that saving before build solves the issue

[2018-09-29 16:50] Andrzej-W commented on #1496
`StateHasChanged` doesn't force immediate UI update - it is only a signal for Blazor runtime to refresh component view during the next rendering cycle. You can easily achieve the intended effect by changing your `RunTest` and `OnRun` functions to async. Here is the simple example with `OnRun` changed to `Task.Delay(3000)` to easily demonstrate the effect:
[code]
[code]
Key takeaways:
- `RunTest` h

[2018-09-29 17:43] rynowak commented on #1247
See the info here as well. This has been diagnosed as in issue in VS, and will be fixed as part of the 15.9 release.

[2018-09-30 14:49] Andy-London commented on #74
This is very useful in our case. We can easily convert our WPF+Winforms thick client to Blazor + Electron. Are there any plans to make it one of Blazor hosting modes?

[2018-09-30 14:55] Andy-London commented on #917
This is very useful in our case. We can easily convert our WPF+Winforms thick client to Blazor + Electron. Are there any plans to make it one of Blazor hosting modes?

[2018-09-30 18:20] edwardyehuang opened #1502 "Blazor (ASP.NET Core hosted) project create failed"
When I tried to create a project in Visual studio with "Blazor (ASP.NET Core hosted) " template, its create 3 folders:

- XXXX.shared
- XXXX.server
- XXXX.client

Only the shared project is loaded Others cannot be loaded and seems incompleted.

[2018-10-01 02:04] danroth27 commented on #1502
Please install [.NET Core SDK version 2.1.302](https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1.2.md) and it should address this issue.

[2018-10-01 02:04] #1502 closed

[2018-10-01 07:10] msimpsonnz opened #1503 "Having issues with NavigateTo"
Hi
I am having issues with NavigateTo function after submitting a page, it supper simple but cannot seem to make any progress

This is my method I am calling but as soon as the Post message happens it just refreshed the page I was on and doesn't redirect to the new page with the Id, am I doing something wrong? Just updated to Blazor 0.6 and using .NET Core 2.1

[code]

Full code is here
https://gi

[2018-10-01 07:46] Tarmil commented on #1493
@rynowak I've tried passing it an `@argument` and that didn't work ("Error: Expecting an option, got instead: @argument"), so I guess not.

[2018-10-01 09:28] Tarmil opened #1504 "NullReferenceException in resolve-dependencies"
I get the following error when using Blazor.Server on an F# project:

[code]

I ran this with a locally built Razor with print debugging to find what was going on, and it seems that the problem is that it can't find `System.Buffers.dll`; it's not copied locally, and it's not in mono's stdlib either. And indeed, the issue disappears if I add this to my project:

[code]

[2018-10-01 11:52] SteveSandersonMS commented on #1499
I don't know for sure that the current Mono WebAssembly runtime will support the runtime codegen that you're using (via ML.NET). I *thought* it did cover all scenarios and just ran in a slower emulated mode if you were trying to do Reflection.Emit, but maybe you've discovered a bug or edge case.

Could you please try the following?

* See if it's a linker issue. Add `<BlazorLinkOnBuild>false</Blaz

[2018-10-01 11:52] #1499 closed

[2018-10-01 11:55] SteveSandersonMS commented on #1500
It's unclear what's going on here, but it's *very* unlikely your project is really directly inside the root of your `c:\` drive, so I suspect some unusual file structure or config is breaking it. Perhaps something you've set up while trying to integrate with Cordova.

Can you please try creating a new project and starting again? I think something is very strange and wrong about your current file s

[2018-10-01 11:55] #1500 closed

[2018-10-01 11:56] SteveSandersonMS commented on #1495
You will need to use JS interop for this. It's quite trivial to do, and if you want, you can wrap up all the JS interop calls in a reusable project or package so it makes a nice set of .NET APIs to reuse.

[2018-10-01 11:56] #1495 closed

[2018-10-01 12:08] SteveSandersonMS commented on #1497
Thanks for the pointers about this, @seancpeters! I'm fixing it now for our 0.6.0 release.

[2018-10-01 12:18] #1497 closed

[2018-10-01 14:15] lqdev commented on #1499
Will do and report back. Thanks @SteveSandersonMS and @kant2002

[2018-10-01 15:35] kant2002 opened #1506 "Strange excption in OnInit"
I following scenario in 0.6.0 preview
[code]

This is results in the
[code]

This is quite a magic for me. I understand that this may be not an issue with Blazor itself but with Mono, but trying anything in OnInit always give me all kind of funny errors.

[2018-10-01 18:21] enetstudio commented on #1503
Perhaps the problem lies here... note the version's value
 <ItemGroup>
    <PackageReference Include="Microsoft.AspNetCore.Blazor.Browser" Version="0.5.1" />
    <PackageReference Include="Microsoft.AspNetCore.Blazor.Build" Version="0.5.1" />
  </ItemGroup>

[2018-10-01 18:28] enetstudio commented on #1503
Perhaps the problem lies here... note the version's value
FN18.Blazor.Client.csproj => Version="0.5.1"

[2018-10-01 19:17] Niladri24dutta commented on #1483
@SteveSandersonMS  Hi , I have made some changes for this in my branch . Can you please take a look and provide your feedback if this can be a PR
https://github.com/Niladri24dutta/Blazor/blob/add-keyboardlocation-enum/src/Microsoft.AspNetCore.Blazor/UIEventArgs.cs#L206

[2018-10-01 19:27] RemiBou commented on #1506
Do you have any call to Console.WriteLine in GetScroptOptions ? They are prepend by "WASM" and put on the browser console

[2018-10-01 19:30] kant2002 commented on #1506
No, I have only AutoRest generated client there. It is called synchronously.

[2018-10-01 22:38] msimpsonnz commented on #1503
Thanks but no, I’ve tried moving back to a simple standalone app but still same issue. I can retrieve data and render the page but upon submission it sends the data and ignores the navigation.
Is there an example of this working?

[2018-10-01 23:29] azutake opened #1508 "When the path of `applicationUrl` is changed, "MSB3026" will be occurs at Auto-build"
Hi, i use the Blazor Auto-build feature in the following conditions, i will get an error while building the hosted server.
(this problem is less important because the client works correctly)

# Phenomenon
The MSB3026 warning occurs and the build takes longer than usual.

# How to reproduce
Based on Blazor (ASP.NET Core hosted).
ASP.NET Core 2.1 used.

1. Add `fetchdata` to the end of `applicationU

[2018-10-01 23:30] danroth27 opened #1509 "Add package descriptions"
Currently almost all of the Blazor packages have "Package description" for the package description. We should add meaningful descriptions

[2018-10-01 23:54] Eilon commented on #1509
I *thought* it was a dup. Indeed: https://github.com/aspnet/Blazor/issues/1215

[2018-10-01 23:54] #1509 closed

[2018-10-02 01:08] lqdev commented on #1499
it was not a linker issue. I have created an issue in the mono repo. [#10915](https://github.com/mono/mono/issues/10915)

[2018-10-02 06:03] MorneZaayman opened #1510 "Binding to oninput event results in method being called before the value has changed."
### Title
Binding to `oninput `event results in method being called before the value has changed.

### Functional impact
`oninput `event does not work as expected,

I’m busy working through this [course ](https://www.udemy.com/build-an-app-with-aspnet-core-and-angular-from-scratch) and I'm implementing the project in Blazor at the same time.

I have the following code in a Component which is suppo

[2018-10-02 06:57] Niladri24dutta commented on #1483
@SteveSandersonMS However I noticed that the value of `UIKeyboardEventArgs.Location` is only set during `keydown` and `keyup` event. The interface `KeyboardEvent` already have the property `location` along with 4 readonly properties to indicate the location of the key in the the type definition library. So I have made the changes in the `EventForDotNet.ts` file also .  Please let me know if it can

[2018-10-02 07:49] enetstudio commented on #1510
@MorneZaayman, as far as I know, the only thing you can presently do is
<input bind-value-onchange="@Username" />

But you should also try to bind to oninput and see if it works:
<input bind-value-oninput ="@Username" />

[2018-10-02 07:50] enetstudio commented on #1510
@MorneZaayman, as far as I know, the only thing you can presently do is
<input bind-value-onchange="@Username" />

But you should also try to bind to oninput and see if it works:
<input bind-value-oninput ="@Username" />

[2018-10-02 07:51] enetstudio commented on #1510
@MorneZaayman, as far as I know, the only thing you can presently do is
<input bind-value-onchange="@Username" />

But you should also try to bind to oninput and see if it works:
<input bind-value-oninput ="@Username" />

[2018-10-02 07:52] enetstudio commented on #1510
@MorneZaayman, as far as I know, the only thing you can presently do is
<input bind-value-onchange="@Username" />
<input bind-value-onchange="@Username" />

But you should also try to bind to oninput and see if it works:
<input bind-value-oninput ="@Username" />

[2018-10-02 07:53] enetstudio commented on #1510
@MorneZaayman, as far as I know, the only thing you can presently do is
<input bind-value-onchange="@Username" />

But you should also try to bind to oninput and see if it works:
<input bind-value-oninput ="@Username" />

[2018-10-02 07:54] enetstudio commented on #1510
@MorneZaayman, as far as I know, the only thing you can presently do is
          <input bind-value-onchange="@Username" />

But you should also try to bind to oninput and see if it works:
        <input bind-value-oninput ="@Username" />

[2018-10-02 07:56] enetstudio commented on #1510
@MorneZaayman, as far as I know, the only thing you can presently do is =>
     <input bind-value-onchange="@Username" />

But you should also try to bind to oninput and see if it works:
<input bind-value-oninput ="@Username" />

[2018-10-02 07:56] enetstudio commented on #1510
@MorneZaayman, as far as I know, the only thing you can presently do is
<input bind-value-onchange="@Username" />

But you should also try to bind to oninput and see if it works:
<input bind-value-oninput ="@Username" />

[2018-10-02 07:57] enetstudio commented on #1510
mmm

[2018-10-02 08:02] enetstudio commented on #1510
@MorneZaayman, as far as I know, the only thing you can presently do is
`<input bind-value-onchange="@Username" />`

But you should also try to bind to oninput and see if it works:
`<input bind-value-oninput ="@Username" />`

[2018-10-02 09:04] faina09 commented on #1007
Version 0.6.0 seems still not supporting nullables (neither bool? nor the other 6 types listed by @vertonghenb) but this is a very important feature when using db!
@simonziegler can you **please share** your component for numeric inputs? I think we should work to insert nullables in Blazor!

[2018-10-02 10:35] nvonbenken commented on #1496
This worked great, thanks for the help!

[2018-10-02 10:35] #1496 closed

[2018-10-02 18:36] chanhong opened #1512 "Blazor won't load in IIS"
I created a basic Blazor application using VS 2017 and select "Blazor" and it runs fine in VS 2017 but when I create a website in Windows 2016 IIS that point to the "public" folder that I published in VS 2017, it just stuck at "loading..." and here are the log of the reason why it got stuck.

[Blazor_IIS_stuck_at_loading_with_error.txt](https://github.com/aspnet/Blazor/files/2439214/Blazor_IIS_stu

[2018-10-02 19:24] Meir017 opened #1513 "support help in Blazor cli"
[code]
using blazor `0.6.0`

after running `dotnet new blazor` and then `dotnet blazor -h`
an `InvalidOperationException` is thrown.

is there any reason why blazor does not use the `CommandLineApplication`?

[2018-10-02 19:33] VictorioBerra opened #1514 "Why is WeatherForecastService an abstract class and not an interface?"
This is more of a general C# question than a Blayzor question but I was just curious why `WeatherForecastService` is an abstract class implemented by `DefaultWeatherForecastService` rather than making it an interface?

Is this unique to Blayzor in that is HAS to be abstract?

[2018-10-02 19:37] Meir017 commented on #1514
looks like it was written quickly or something like that.
It's injected using
[code]

The blazor source code contains interfaces, ex: `IBlazorApplicationBuilder` and many more

[2018-10-02 23:33] Andrzej-W commented on #1223
This problem still exists in 0.6.0

[2018-10-03 02:47] TheFanatr commented on #1222
Assuming that something similar to what is detailed below has already been drafted by the Blazor team internally, this is being submitted here just it in case it helps gets any extra thoughts moving about how the structure of a session control system could work.

Essentially, I am proposing that a new API be created called `Session`, containing static methods for terminating, resetting, transferri

[2018-10-03 09:06] wstaelens opened #1516 "Question: Does Blazor support Microsoft MAT for localization/translation management?"
We've been using Microsoft MAT almost in every recent project (WPF, asp.net mvc, asp.net core, winforms, …),
Does a Blazor project in Visual Studio 2017 also support Microsoft MAT for localization/translations of resources?

https://multilingualapptoolkit.uservoice.com/
https://marketplace.visualstudio.com/items?itemName=MultilingualAppToolkit.MultilingualAppToolkit-18308#overview

![mat editor](h

[2018-10-03 09:15] uwefms commented on #1512
Blazor is running fine on IIS (Win 12 Server or locally on win 10 IIS)

Dis you adjust your index.html file in the wwwroot dir of the client ?

`
	<base href="/raumdispo/" />

`
You might also have to adjust your navigate and http calls like

`tagNodes = await Http.GetJsonAsync<TagNode[]>(AppCache.BaseUrl + "/RaumNode/GetTagNodes/" + Convert.ToInt32(currentRaumId));

UriHelper.NavigateTo(AppCache.

[2018-10-03 12:32] enetstudio commented on #1510
Is this OK: bind="@Username" oninput="@ValidateLogin"

I guess if bind uses the input event internally, your code may fail. As far as I know, bind used the change event internally, but this may have changed since...

[2018-10-03 14:39] SteveSandersonMS commented on #1516
Blazor doesn't have any special built-in support, but Blazor does let you run arbitrary `netstandard` .NET code, so I'd hope that whatever MAT produces for you should work fine.

This is not something I've personally tried, but if you have a go and think something necessary is missing from Blazor, please let us know what.

[2018-10-03 14:39] #1516 closed

[2018-10-03 14:44] SteveSandersonMS commented on #1514
I don't think there's any important reason for this. It would work the same and be equally good either way.

[2018-10-03 14:44] #1514 closed

[2018-10-03 14:45] SteveSandersonMS commented on #1512
Thanks for answering, @uwefms!

[2018-10-03 14:45] #1512 closed

[2018-10-03 14:50] SteveSandersonMS commented on #1513
The `blazor` CLI was one of the very first parts of the system we built, and is mostly intended to be an internal implementation detail. There aren't currently any reasons why developers need to run it manually, since it only has one feature, "serve", and that's done for you automatically when you execute `dotnet run`. So, adding a help system has never been a high priority.

If this is something

[2018-10-03 14:50] #1513 closed

[2018-10-03 14:58] SteveSandersonMS commented on #1510
For this to work, you'd need to use `bind-value-oninput` instead of just `bind`, because `bind` is based on `change` events which don't occur at the same time as `input` events.

Unfortunately `bind-value-oninput` is broken at the moment (#821) so for now I'd recommend sticking with the "change" event that `bind` uses by default. Hopefully this limitation won't be around for long. We are doing som

[2018-10-03 14:58] #1510 closed

[2018-10-03 15:18] SteveSandersonMS commented on #1508
Thanks for reporting this, and for providing the clear repro steps.

This is a very surprising bug, but I can repro it. In fact I can repro it in a plain ASP.NET Core web application without involving Blazor at all. I'll follow up by reporting this to the relevant people who work on the VS tooling for ASP.NET Core, since it's not Blazor-specific.

[2018-10-03 15:18] #1508 closed

[2018-10-03 16:58] SteveSandersonMS commented on #1512
Since your IIS site is returning 404s for the requests for the `.wasm` and `.dll` files, you will need to [configure it to serve files with those extensions](https://docs.microsoft.com/en-us/iis/configuration/system.webserver/staticcontent/mimemap).

[2018-10-03 17:01] thatnerdyguy commented on #1504
I got a similar error a few weeks ago. I was using a project that directly referenced a dll which itself directly referenced System.ServiceModel.Discovery (which isn't supported under .NET Standard). I too had to result to running the tool under the debugger to figure out what was happening.

FindCandidate() can return null, which means Resolve() can return null, which means GetAssemblyReferences(

[2018-10-03 18:36] chanhong commented on #1512
The only two files in the "publish" folder are: BlazorBrowser (solution
name) and web.config so I think the issue here is the Blazor template does
not publish those missing files or something.

On Wed, Oct 3, 2018 at 9:58 AM Steve Sanderson <notifications@github.com>
wrote:

[2018-10-03 19:03] AndreasTruetschel commented on #905
As templates are now available, this could be solved by specifying the rendered content as a template, with a default template to mimic the current behavior.
This could be used like this

[code]

The `NavLink `component has a template parameter:
`[Parameter] private RenderFragment<(string href, bool isActive, RenderFragment content)> Template { get; set; }
= GetDefaultTemplate();`

[2018-10-03 19:08] codeinstinct opened #1517 "Upgrade to 0.6.0 causes build errors"
Upgrading from 0.5.1 to 0.6.0 gives a build error.

``/webui/blazor/blazor.csproj : error NU1102: Unable to find package Microsoft.AspNetCore.Blazor.Server with version (>= 0.6.0)
webui/blazor/blazor.csproj : error NU1102:   - Found 7 version(s) in nuget.org [ Nearest version: 0.5.1 ]
``

The problem is with this line in particular:

``
<DotNetCliToolReference Include="Microsoft.AspNetCore.Blazor.

[2018-10-03 22:34] chanhong commented on #1512
I think I got something here!

These two lines in MonoPlatform.ts and UriHelper.ts to stop Blazor from
running in IIS.

WASM: 20
MonoPlatform.ts:202 WASM: 20
module.printErr @ MonoPlatform.ts:202
UriHelper.ts:99 Uncaught (in promise) abort(20). Build with -s ASSERTIONS=1
for more info.

On Wed, Oct 3, 2018 at 11:36 AM Chanh Ong <chanh.ong@gmail.com> wrote:

[2018-10-04 00:35] orominioo commented on #1503
Try this out your tour on a string variable and give that to the NavigateTo call. It fix it for me. Also correct me if I'm wrong but I think http call should be inside Using statement, anyway let me know if that fixes you issue

[2018-10-04 05:38] MorneZaayman opened #1519 "Calling JsRuntime.Current.InvokeAsync from C# in HTML part of a component results in Uncaught (in promise)"
### Title
Calling JsRuntime.Current.InvokeAsync from C# in HTML part of a component results in Uncaught (in promise)

### Functional impact
JSInterop does not work in Async mode. I did manage to get the code to work by down-casting to IJSInProcessRuntime and then calling Invoke instead of InvokeAsync, but this still felt like a bug so I thought I should report it.

I have the following code in a C

[2018-10-04 06:34] codeinstinct commented on #1517
Yes, thanks @rynowak. That worked perfectly.

[2018-10-04 06:34] #1517 closed

[2018-10-04 13:46] neerajbharti opened #1520 "Support type constraints on @typeparam"
This is in regards to the new @typeParam released in 0.6.0 version.
I am not sure if Type Constraints can be defined on the generic type passed to @typeParam.

 If this is something which already existing, can you please direct me to some semantics help. And if it is not there; is there any  plan to support this.

This feature will be very much helpful while developing abstract components which mu

[2018-10-04 14:27] jsakamoto commented on #1519
I think the problem that we can not use Task.Result is the limitation of Blazor by design.

I think, your sample code cause "deadlock" like this figure. (from [this post](https://dev.to/j_sakamoto/workaround-how-to-resolve-local-time-zone-on-blazor-spa-v05x-foi))

![fig.1](https://res.cloudinary.com/practicaldev/image/fetch/s--TosxWuok--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://r

[2018-10-04 14:37] mattd73uk opened #1521 "Components could expose properties using public instead of Parameter"
Hi,
As per the VS template project, to be able to assign to a component
`<SurveyPrompt Title="How is Blazor working for you?" />`

currently the child component needs Title to have the Parameter attribute:
[code]

I am new to the project, so forgive any newbie foolishness, but can't we drop the ParameterAttribute and simply say that child component properties which are _public_ can be assigned to

[2018-10-04 16:06] rynowak commented on #1520
This is something I'd like to do eventually, but it's not really straightforward to do right now. If you need a workaround for this, you could create a base class in C# and then inherit it with `@inherits`

[2018-10-04 19:28] vertonghenb commented on #1521
The attribute is used for multiple purposes but the main one is encapsulation a component should not expose it's properties as public. Since it breaks the entire idea of manipulating state.

On the other hand, if we use the attribute we can set the parameter as Required or optional in a later stage.

[2018-10-04 23:38] Andrzej-W commented on #1521
In this sample project a constant string is assigned to a parameter but in more real world scenario you will want to pass different values depending on user actions. When you change parameter value component will be rendered automatically and you will see a change on the screen. You can change public property but component **will not** rerender automatically and you will have to implement property

[2018-10-05 00:56] olegburov commented on #279
I faced this today. I could open my VS Solution with 21 project. 20 (Class Library) got loaded and built successfully except of the one (ASP.NET Core Web App).

The reason was due to file `global.json` in VS Solution root

[code]

where it requires `.NET Core SDK 2.0.2`, which I didn't have installed.

[2018-10-05 10:37] sebbert commented on #1304
@SteveSandersonMS Sorry, but I can't seem to find where the `key` feature is being tracked in that issue?

[2018-10-05 10:43] SteveSandersonMS commented on #1304
@sebbert You're quite right. In my mind that was on the list for #1 all along, but in fact it wasn't! Just added it now. Thanks for pointing this out.

[2018-10-05 10:54] sebbert commented on #1304
@SteveSandersonMS Thanks for the quick reply! :)

[2018-10-05 13:37] SteveSandersonMS commented on #1521
Thanks for the answers, @vertonghenb and @Andrzej-W!

[2018-10-05 13:37] #1521 closed

[2018-10-05 13:42] SteveSandersonMS commented on #1519
Thanks for the answer, @jsakamoto.

Yes, the basic fact is that the component's rendering logic **must be synchronous**. This is the desired design, because unlike a server-side HTML rendering process, the user is *already* looking at your UI and is waiting for it to update. If the rendering could take an arbitrary amount of time, the user would have no idea what was going on. So if you need to pe

[2018-10-05 13:42] #1519 closed

[2018-10-05 13:44] SteveSandersonMS commented on #1506
Sorry for the bizarre error message. I don't know what that means either.

Can you supply a minimal and self-contained repro so we can investigate?

[2018-10-05 18:12] MarkStega commented on #1326
I had applied the workaround back in August and it seemed to be fine. The last several days I am again seeing the hung build. I checked and the workaround setting is still in place. It may be coincidental but I wasn't seeing this until after I upgraded to 0.6.0

[2018-10-05 19:44] Suchiman opened #1527 "Blazor Codegen does not escape quotes"
If you use double quotes inside single quotes in attributes, this will result in broken codegen due to unescaped double quotes inside double quotes.
Input:
[code]
Output:
[code]

[2018-10-05 22:42] nblumhardt opened #1528 "Setting up logging in Blazor"
Hi all!! Hope you're all having fun, hacking on such an interesting bit of code 😄

I spent a few hours last night experimenting with Serilog in Blazor, both to the local browser console and piped through the server using middleware. The code is in: https://github.com/nblumhardt/serilog-blazor.

There's a whole lot to explore in this space, but I thought I'd try to get in early with a bit of feedba

[2018-10-05 22:53] danroth27 commented on #1326
This issue should now be fixed in Visual Studio 15.9 Preview 3: https://visualstudio.com/preview

[2018-10-06 01:32] rynowak commented on #1527
Ooh that's not good. yeah we need to fix this.

I think issue is probably here: https://github.com/aspnet/Blazor/blob/master/src/Microsoft.AspNetCore.Blazor.Razor.Extensions/BlazorRuntimeNodeWriter.cs#L742

[2018-10-06 03:28] kant2002 opened #1529 "Missing access modifier"
1. On the `Index.cshtml` from the template (which does not have `@functions` section)
2. Create new `@functions` sections
3. Start typing `override OnI`
4. press Tab
5. Added
[code]

should be
[code]

## Notes
Happens
[code]
Does not happens (correct)

[code]
Does not happens (correct)

[code]

so essentially, my observation related just if you have first method in the `@functions` section it does

[2018-10-06 03:38] kant2002 commented on #1506
@SteveSandersonMS See issue here: https://github.com/kant2002/BlazorWasm13

[2018-10-06 03:43] rynowak commented on #1529
Is the bug here that C# completion behaves differently? You should report this on https://developercommunity.visualstudio.com/spaces/8/index.html - we don't control this behaviour in Razor or Blazor. This is the C# editor.

[2018-10-06 03:53] kant2002 commented on #1529
Ok. Reasonable. It looks like Razor language service have some issue then. What would be your wild guess, is it most likely error in Razor Language service, or in the C# Editor itself ?

[2018-10-06 04:03] kant2002 commented on #1529
I report using VS reporting tool, with logs. Hopefully that helps relevant VS team.

[2018-10-06 04:03] #1529 closed

[2018-10-06 04:15] rynowak commented on #1529
I'm one of the developers for Razor, and I know that we are not in control of this behaviour. 😆

This is likely a behavior difference in how the C# editor behaves inside Razor. C# special cases lots of things for Razor and ASPX. I'm honestly not sure if this is intended or not, and there may be a historical reason for it.

https://github.com/dotnet/roslyn/blob/master/src/VisualStudio/Core/Def/Impl

[2018-10-06 04:28] kant2002 commented on #1529
Thanks for information. Links was really-really interesting. I really trying to cheat and don't go to Developer Community Portal, since this is black box sometimes. Also issue in C# editor appears to be fixed in slower pace, then any ASP.NET stuff. At least this is impression.

[2018-10-06 06:19] drewdelano commented on #47
I was thinking about giving this a try, but I'm not sure what `After exercising all reachable code paths` entails.  I also couldn't find an annotateWast function referenced anywhere, but I think I might be able to get decent results out of [Wasabi](http://wasabi.software-lab.org/#example-and-demo).

[2018-10-06 18:42] panda-eye opened #1530 "An error while parsing .cshtml"
I have a line in Teachers.cshtml:
`<button onclick="window.location.href = '/teacher/@(teacher.Id)/';">More info...</button>`
After complation I have the following line in Teachers.g.cs (/obj/Debug/netstandart2.0/Pages/):
`builder.AddAttribute(24, "onclick", (Microsoft.AspNetCore.Blazor.Components.BindMethods.GetEventHandlerValue<Microsoft.AspNetCore.Blazor.UIMouseEventArgs>() + "window.location.h

[2018-10-06 18:49] panda-eye commented on #1530
The same result if I remove whitespaces

[2018-10-06 19:48] codeinstinct commented on #1530
Here's what I would do:

Change this
`<button onclick="window.location.href = '/teacher/@(teacher.Id)/';">More info...</button>`

to
`<button onclick=@Navigate(teacher.Id)>More info...</button>`

Add this line at the top of the .cshtml
`@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper`

Add this method `Navigate` to the functions block
`
@functions {
    private void Navigate(stri

[2018-10-06 20:06] javiercn commented on #47
@danroth @stevesandersonms

[2018-10-06 21:52] adrian109 commented on #1527
Believe #1530 to be a similar issue with double and single quote combinations not being correctly escaped.

[2018-10-06 21:59] adrian109 commented on #1530
Believe this issue might be a similar issue with double and single quote combinations not being correctly escaped as raised in issue #1527

[2018-10-07 00:41] TheFanatr commented on #293
Is there any way to manually implement 404 handling at the moment? Is this just a case of changing some logic in the routing system or would it require some more profound changes? It would be very useful for a project that I am working on.

[2018-10-07 01:28] TheFanatr commented on #293
After combing through some of Blazor's codebase, I think I have a reasonable idea of what needs to be done; would a pull request for something like this be considered, or is it too small? It needs to be made either way for my purposes, but I'd love to submit it to the project if I actually get it working.

[2018-10-07 03:50] msimpsonnz commented on #1503
Thanks, I think it was down to deserialiser throwing an error. I’ve given up with the built in helper for HttpClient and will roll my own

[2018-10-07 03:50] #1503 closed

[2018-10-07 05:33] mattd73uk commented on #1521
Hi, @Andrzej-W thank you for your response, I do appreciate you taking the time to help me understand.   But can I ask, isn't it the case that the reason that parameters auto update (but public properties don't) is because of the StateHasChanged() call within the implementations of IComponent SetParameters(ParameterCollection parameters) ?  For public properties to be auto updated on change, all i

[2018-10-07 05:53] kant2002 opened #1531 "Error window does not open error"
Client-side Blazor (in case this is important)
I build project, and Error Windows correctly show errors (2 files with 2 errors each)
![image](https://user-images.githubusercontent.com/4257079/46578636-90b2b900-ca26-11e8-8699-43b200bbc6d0.png)

But when I double-click on the error, the Editor does not open the cshtml file with error.
If I manually open cshtml file with error, the double-click in Er

[2018-10-07 12:55] legistek opened #1532 "Suggestion: Have BlazorComponent Implement INotifyPropertyChanged, Expose Protected OnPropertyChanged Method"
In all my experimenting with Blazor the very first thing I always do is add `INotifyPropertyChanged` implementations to my components so I can engage in two way data binding (I use a home-grown .NET Standard-friendly data binding scheme that uses reflection and `INotifyPropertyChanged`) and otherwise subscribe to state changes without having to be inside the component itself.

It would be really c

[2018-10-07 17:00] syedqutub opened #1533 "[Feature Request] Add Support for Razor template Syntax in @functions block"
Hi,
I noticed that creating an object for `RenderFragment` by using `@<tag></tag>`
only works in @ block. It would be great if we could use Razor template syntax in @functions block if possible. (it might almost feel like React!).

Thanks anyway for this great framework!!

[2018-10-07 18:15] jbarrineau06 commented on #350
I'm having the same issue, but I can't call `UseCors()` in the `Configure` method because it takes an `IBlazorApplicationBuilder `and not an `IApplicationBuilder`.

[2018-10-07 19:11] TheFanatr commented on #293
I got this to work.

[code]

Basically, if the router detects that a certain route doesn't exist, it will try to render the route described by `FallbackRoute` and if `FallbackRoute` is null or nonexistent, the regular behaviour will be observed, with the only difference being that the exception text will say that it `cannot find any component with the fallback route '/<fallback>'`.

Also, I specif

[2018-10-07 19:49] enetstudio commented on #1004
I guess that using server-side Blazor (Razor Components) in internal enterprise application may also have the advantage of forgoing proxy servers, and using only the Kestrel web server which is very fast.

[2018-10-07 20:29] Suchiman commented on #350
@jbarrineau06 as mentioned previously, CORS need to be enabled on the server side, not in blazor (CORS is about security so the server must permit the browser to call it)

[2018-10-07 20:31] jvelezc opened #1535 "Microsoft.AspNetCore.Blazor.Browser.Interop is missing from master branch"
What is my alternative way of doing  RegisteredFunction.Invoke<bool> or where did this code go since the master branch does not have an interop folder anymore.

I see there branches with it...https://github.com/aspnet/Blazor/blob/javiercn/interop-cleanup/src/Microsoft.AspNetCore.Blazor.Browser/Interop/RegisteredFunction.cs

[2018-10-07 20:46] rolshevsky commented on #1535
@jvelezc per my understanding with this `PR` (#1351) `JsonInterop` was moved here: [dotnet/jsinterop](https://github.com/dotnet/jsinterop).

[2018-10-07 20:58] jvelezc commented on #1535
K I will try Install-Package Microsoft.JSInterop -Version 0.6.0 see what happens will report back.

[2018-10-07 21:10] rolshevsky commented on #1535
@jvelezc You do not need to install `JsInterop` separately, it's should be already included to Blazor: [JavascriptInterop](https://blazor.net/docs/javascript-interop.html)

![rider64_2018-10-08_00-10-11](https://user-images.githubusercontent.com/4366995/46586980-8f1cdb80-ca8e-11e8-8631-ca3a8e187d08.png)

[2018-10-07 22:53] furoraest commented on #1020
Seems like a function what I am needing... care to elaborate what packages/addons needed to be used for getting those params? If i try to use this i am getting something like that: The type or namespace name 'TValue' could not be found (are you missing a using directive or an assembly reference?)

[2018-10-07 23:12] #1535 closed

[2018-10-07 23:18] jvelezc opened #1536 "How to get back latitude and longitude from the browser to a view"
I tried many things below is my latest attempt. The main issue is that the data is not serialized back ... possibly because is returning a function and not data. (When I hard code the object it returns the object) Any advise?

![image](https://user-images.githubusercontent.com/3653845/46588170-552ae580-ca4c-11e8-98da-f4267a346d62.png)

As you can see the Js method is being invoked
![image](https:/

[2018-10-07 23:43] Suchiman commented on #1536
Well the issue is that you're attempting to return from the callback function, but you return nothing from the `myFunction` function. As this API asynchronous / callback based, you need to return a `Promise` from `GetLocation` and `resolve` that promise from the callback where you're currently returning.

[2018-10-08 03:56] tn-5 commented on #1418
I've tested with both Safari & Firefox, the proposed workaround does not fix the problem.

[2018-10-08 04:25] kant2002 opened #1537 "The error does not reported in console"
I attempt to create simple Blazor JS interop for vibration API. During testing in Edge I encounter following problems:
1. If proxy function could not be accessed via `window` then error silently eaten.
2. Since I use `navigator.vibrate` which is not supported by Edge it produce error `SCRIPT438: Object doesn't support property or method 'vibrate'` which again silently eaten.

In Chrome,
1. the fir

[2018-10-08 07:10] RemiBou commented on #1536
Look at the method "readUploadedFileAsText" here https://github.com/RemiBou/Toss.Blazor/blob/master/Toss/Toss.Client/wwwroot/site.js. You have to create a Promise and call resolve with the result you want to get from C#

[2018-10-08 08:43] SteveSandersonMS commented on #47
@drewdelano Thanks for your interest.

We don't yet have a final plan for how to know what to strip out from `mono.wasm`. The most realistic approach is probably to find ways of understanding what's in `mono.wasm` and making case-by-case decisions about what could be removed. For example, if large parts of it deal with low-level APIs for TCP listeners, we could remove them, because web apps can't

[2018-10-08 10:07] SteveSandersonMS commented on #1506
Ah, I see. Thanks for posting the repro!

The issue is that you're trying to block the UI thread, which is not possible. The entire JS runtime doesn't allow the thread to be blocked. In .NET terms, if you have a task, you can `await` it, or you can `ContinueWith` after it, but you *cannot* call `.Wait()` or `.GetAwaiter().GetResult()` or evaluate `.Result` for tasks that aren't yet completed.

Spe

[2018-10-08 10:07] #1506 closed

[2018-10-08 10:09] SteveSandersonMS commented on #1537
Make sure that all your async interop calls are awaited, whichever side they originate on. If you don't, then you will get a promise/task that fails, but you won't have any code listening for the failure.

If you think this is not the issue, could you please reopen or post again with a short repro code sample? Thanks!

[2018-10-08 10:09] SteveSandersonMS commented on #1536
Thanks for answering, @Suchiman and @RemiBou!

[2018-10-08 10:09] #1536 closed

[2018-10-08 10:10] SteveSandersonMS commented on #1533
This is a feature we just added in 0.6.0.

[2018-10-08 10:10] #1533 closed

[2018-10-08 10:12] SteveSandersonMS commented on #1532
Thanks for the suggestion. We're not planning to bake in `INotifyPropertyChanged` as a required pattern within Blazor, because various other patterns are also used and considered preferable depending on your overall architecture.

However if you do want all your components to have the same infrastructure around this, you can create your own component base class that inherits from `BlazorComponent`

[2018-10-08 10:12] #1532 closed

[2018-10-08 10:13] SteveSandersonMS commented on #1531
I think this is a known issue of the Razor editor in general at the moment. @rynowak, can you confirm?

[2018-10-08 10:34] GDIKodiak opened #1538 "Compiler Error CS0314"
For example I have a generic component ComponentA and the generic has class constraint like this:

`

      public class ComponentA<T> : BlazorComponent

        where T : Base

     {

        [Parameter]

        private T ModelA { get; set; }

        protected override void BuildRenderTree(RenderTreeBuilder builder)

        {

            base.BuildRenderTree(builder);
            //to do